@charset "utf-8";
/* common css */
$container_width: 1060px;
$container_padding: 20px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;
	margin: 0px; 
	padding: 0px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box; 
}
/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}

#wrapper.lg .container{
	max-width : $container_width + $container_padding;
	margin: 0 auto;
	padding: 0 10px;
}
#wrapper.ie .container{
	width : ($container_width + 2*$container_padding); 
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: 768px) {
	#screen_type{ content : "xs"; }	
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: 1200px) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
							LAYOUT
-----------------------------------------------------------------*/
#wrapper{
	overflow: hidden;
	img{
		max-width: 100%;
	}
}

/*-- top --*/
#top-header{
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #FFF;
}

#top{	
	background-color: $main_color;
	color: $sub_color2;
	line-height: 30px;
	.top-text{		
		line-height: 30px;
		font:{
			size: 12px;
			weight: bold;
		}
	}		
	.topnavi{
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		li{			
			display: inline-block;
			padding: 0px 10px;			
			a{		
				color: $sub_color2;
				font:{
					size: 12px;
					weight: bold;
				}
				.fa{padding-right: 5px;}
				&:hover{text-decoration: underline;}
			}
			a.topnavi-current{text-decoration: underline;}			
		}
		
		li:last-child {
			padding: 0 0 0 10px;
		}
	}
}

/* header */
header{	
	#header{
		padding: 28px 0 38px; 
		#headerContent{		
			.logo{
				float: left;				
				img{
					max-width: 100%;					
				}
			}
			.header-contact{
				padding-top: 10px;
				float: left;
				.header-tel{
					float: left;
					padding-left: 35px;
				}
				.header-con{
					float: left;
					padding-left: 40px;					
				}			  

			}
			.fa{display: none;}		
		}
	}
}
		
/*-- slider top --*/
#slider-banner{	
	margin-top: 213px;
	text-align: center;	
	.bx-wrapper{
		max-width: 1096px !important;
		margin: 0 auto !important;
		.bx-viewport{
			background: none !important;
			box-shadow: none !important;
			border: none !important;
		}
		.bx-controls-direction a{z-index: 0;}
		.bx-next{right: -40px;}
		.bx-prev{left:-40px;}
	}	
}
#bx-pager{
	background-color: #696969;
	padding: 30px 0;	
}

#top-flow{
	background-color: #ffd1ac;	
	padding-bottom: 35px;
	position: relative;
	.top-flow-list{
		position: absolute;
		top: 55%;
		left: 8%;
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			float: left;
			text-indent: -9999px;
			a{
				display: block;				
			}
		}
		li:nth-child(1){width: 220px;}
		li:nth-child(2){width: 195px;}
		li:nth-child(3){width: 195px;}
		li:nth-child(4){width: 150px;}		
	}
	.top-flow-infoR{
		text-align: right;	
		padding-top: 15px;	
	}
}/* end top-flow*/

#top-main1{
	margin-top: 60px;	
	#top-main1-top{margin: 0 0 0 4px;}	
	.top-main1-title{		
		line-height: 58px;			
		position: relative;
		.tmain1-ttext{
			position: absolute;
			top: 0;			
			padding-left: 65px;
			color: $sub_color2;
			font:{
				size: 24px;
				weight: bold;
			}
			.tmain1-tclr1{	
				color: #ffff00;
				font:{
					size: 36px;
					weight: bold;
				}
			}
			.tmain1-tclr2{	
				color: #ffff00;
				font:{
					size: 24px;
					weight: bold;
				}
			}
		}
	}
	.col-d9{
		float: left;
		width: 49%;
		padding: 0 10px;
		.top-main1-content1{
			position: relative;
			.top-mcontent1-icon{
				position: absolute;
				top: -5px;
				left: -5px;
			}		
			.top-mcontent1-info{
				border: 1px solid #e3e3e3;			
				padding: 3px; 
				.top-mcontent1-img{text-align: center;}  			
				.top-mc1-title{
					padding-top: 6px; 
					text-align: center;
					color: $main_color;
					font:{
						size: 20px;
						weight: bold;
					}
				}
				.top-mc1-text1{
					text-align: center;
					padding-top: 10px;
					color: $sub_color3;
					font:{
						size: 14px;
						weight: bold;
					}
				}
				.top-mc1-text2{
					margin-top: 12px;
					background-color: #f5f5f5;
					line-height: 50px;
					text-align: center;
					padding: 0 60px;
					.top-mc1-size1{
						padding-top: 5px;
						float: left;
						color: $sub_color3;
						font:{
							size: 12px;
							weight: bold;
						}
						.top-mc1-size{
							background-color: $main_color;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
					}
					.top-mc1-size2{					
						float: left;
						color: $main_color;
						margin-left: 23px;
						font:{
							size: 32px;
							weight: bold;
						}
						.top-mc1-size{
							background-color: $main_color;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
						.top-mc1-symbol1{
							color: $sub_color3;
							font:{
								size: 16px;
								weight: bold;
							}
						}
						.top-mc1-symbol2{
							font:{
								size: 24px;
								weight: bold;
							}
						}
					}
				}			
			}
		}
	}/*end top-main1-content1*/
	

	.col-d4{	
		float: left;
		width: 24%;
		padding: 0 10px;
		margin-left: 1.4%;
		.top-main1-content2{	
			position: relative;
			.top-mcontent2-icon{
				position: absolute;
				top: -5px;
				left: -5px;
			}		
			.top-mcontent2-info{
				border: 1px solid #e3e3e3;			
				padding: 3px; 
				.top-mcontent2-img{text-align: center;}  			
				.top-mc2-title{
					padding-top: 8px; 
					text-align: center;
					color: $main_color;
					font:{
						size: 20px;
						weight: bold;
					}
				}
				.top-mc2-text1{
					text-align: center;
					padding-top: 11px;
					color: $sub_color3;
					font:{
						size: 14px;
						weight: bold;
					}
				}
				.top-mc2-text2{
					margin-top: 10px;
					background-color: #f5f5f5;				
					text-align: center;
					padding: 10px 0 15px 0;			
					.top-mc2-size1{	
						padding-bottom: 12px;			
						color: $sub_color3;
						font:{
							size: 12px;
							weight: bold;
						}
						.top-mc2-size{
							background-color: $main_color;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
					}
					.top-mc2-size2{										
						color: $main_color;					
						font:{
							size: 32px;
							weight: bold;
						}
						.top-mc2-size{
							background-color: $main_color;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
						.top-mc2-symbol1{
							color: $sub_color3;
							font:{
								size: 16px;
								weight: bold;
							}
						}
						.top-mc2-symbol2{
							font:{
								size: 24px;
								weight: bold;
							}
						}
					}
				}			
			}
		}/* end top-main1-content2*/
	}/* end top-main1*/	
	
	.top-main1-box-bg{			
		margin: 30px 0 0 4px;	
		.col-dlg4{
			float: left;
			width: 24%;
			margin-left: 1.3%;		
			padding: 0 10px;
			.top-main1-box{	
				position: relative;
				.top-mbox-icon{
					position: absolute;
					top: -5px;
					left: -5px;
					z-index: 90;
				}
				.top-mbox-info{
					border: 1px solid #e3e3e3;			
					padding: 3px; 
					.top-mbox-img{
						text-align: center;
						img{
							width: auto;
							height: auto;
						}
					}  			
					.top-mbox-title{
						padding-top: 6px; 
						text-align: center;
						a{
							color: $main_color;
							font:{
								size: 20px;
								weight: bold;
							}
							&:hover{color: $sub_color3;}
						}
						
					}
					.top-mbox-text1{
						text-align: center;
						padding-top: 6px;
						a{
							color: $sub_color3;
							font:{
								size: 14px;
								weight: bold;
							}
							&:hover{color: $main_color;}
						}					
					}
					.top-mbox-text2{
						margin-top: 5px;
						background-color: #f5f5f5;				
						text-align: center;
						padding: 10px 0 12px 0;			
						.top-mbox-size1{	
							padding-bottom: 9px;			
							color: $sub_color3;
							font:{
								size: 12px;
								weight: bold;
							}
							.top-mbox-size{
								background-color: $main_color;
								text-transform: uppercase;
								color: $sub_color2;
								@include border_radius(10px);
								padding: 3px 14px;
								margin-right: 10px;
								font:{
									size: 12px;
									weight: bold;
								} 
							}
						}
						.top-mbox-size2{										
							color: $main_color;					
							font:{
								size: 32px;
								weight: bold;
							}
							.top-mbox-size{
								background-color: $main_color;
								text-transform: uppercase;
								color: $sub_color2;
								@include border_radius(10px);
								padding: 3px 14px;
								margin-right: 10px;
								font:{
									size: 12px;
									weight: bold;
								} 
							}
							.top-mbox-symbol1{
								color: $sub_color3;
								font:{
									size: 16px;
									weight: bold;
								}
							}
							.top-mbox-symbol2{
								font:{
									size: 24px;
									weight: bold;
								}
							}
						}
					}			
				}
			}						
		}					
		.col-dlg4:first-child{margin-left: 0}
	}/* end top-main1-box-bg*/	
		.top-main1-box-bg:first-child{			
			.col-dlg4:nth-child(1){				
				.top-main1-box{
					.top-mbox-icon{
						background: url("../img/top/top_mcontent1_icon.png") 0 0 no-repeat;
						background-size: contain;
						height: 82px;
						width: 81px;
					}	
				}				
			}
			.col-dlg4:nth-child(2){			
				.top-main1-box{
					.top-mbox-icon{
						background: url("../img/top/top_mcontent2_icon.png") 0 0 no-repeat;
						background-size: contain;
						height: 82px;
						width: 81px;
					}	
				}				
			}
			.col-dlg4:nth-child(3){			
				.top-main1-box{
					.top-mbox-icon{
						background: url("../img/top/top_mcontent3_icon.png") 0 0 no-repeat;
						background-size: contain;
						height: 82px;
						width: 81px;
					}	
				}				
			}
		}
}/* end top-main1 */


#top-main2{
	margin-top: 45px;	
	#top-main2-top{margin: 0 0 0 4px;}	
	.top-main2-title{
		margin-bottom: 27px;
		line-height: 58px;			
		position: relative;
		.tmain2-ttext{
			position: absolute;
			top: 0;			
			padding-left: 65px;
			color: $sub_color2;
			font:{
				size: 24px;
				weight: bold;
			}
			.tmain2-tclr1{	
				color: #ffff00;
				font:{
					size: 36px;
					weight: bold;
				}
			}
			.tmain2-tclr2{	
				color: #ffff00;
				font:{
					size: 24px;
					weight: bold;
				}
			}
		}
	}
	.col-d9{
		float: left;
		width: 49%;
		padding: 0 10px;
		.top-main2-content1{
			position: relative;
			.top-mcontent21-icon{
				position: absolute;
				top: -5px;
				left: -5px;
			}		
			.top-mcontent21-info{
				border: 1px solid #e3e3e3;			
				padding: 3px; 
				.top-mcontent21-img{text-align: center;}  			
				.top-mc21-title{
					padding-top: 6px; 
					text-align: center;
					color: $sub_color1;
					font:{
						size: 20px;
						weight: bold;
					}
				}
				.top-mc21-text1{
					text-align: center;
					padding-top: 10px;
					color: $sub_color3;
					font:{
						size: 14px;
						weight: bold;
					}
				}
				.top-mc21-text2{
					margin-top: 12px;
					background-color: #f5f5f5;
					line-height: 50px;
					text-align: center;
					padding: 0 60px;
					.top-mc21-size1{
						padding-top: 5px;
						float: left;
						color: $sub_color3;
						font:{
							size: 12px;
							weight: bold;
						}
						.top-mc21-size{
							background-color: $sub_color1;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
					}
					.top-mc21-size2{					
						float: left;
						color: $sub_color1;
						margin-left: 23px;
						font:{
							size: 32px;
							weight: bold;
						}
						.top-mc21-size{
							background-color: $sub_color1;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
						.top-mc21-symbol1{
							color: $sub_color3;
							font:{
								size: 16px;
								weight: bold;
							}
						}
						.top-mc21-symbol2{
							font:{
								size: 24px;
								weight: bold;
							}
						}
					}
				}			
			}
		}
	}/*end top-main1-content1*/
	

		.col-tlg4{	
			float: left;
			width: 24%;
			margin-left: 1%;		
			padding: 0 10px;
		}
		.col-tlg4:nth-child(1){
			margin-left: 0;
			.top-main2-content2{
				.top-mcontent22-icon{
					background: url("../img/top/top_mcontent1_icon.png") 0 0 no-repeat;
					background-size: contain;
					height: 82px;
					width: 81px;
				}	
			}				
		}
		.col-tlg4:nth-child(2){			
			.top-main2-content2{
				.top-mcontent22-icon{
					background: url("../img/top/top_mcontent2_icon.png") 0 0 no-repeat;
					background-size: contain;
					height: 82px;
					width: 81px;
				}	
			}				
		}
		.col-tlg4:nth-child(3){			
			.top-main2-content2{
				.top-mcontent22-icon{
					background: url("../img/top/top_mcontent3_icon.png") 0 0 no-repeat;
					background-size: contain;
					height: 82px;
					width: 81px;
				}	
			}				
		}
		.top-main2-content2{	
			position: relative;
			.top-mcontent22-icon{
				position: absolute;
				top: -5px;
				left: -5px;
				z-index: 90;
			}		
			.top-mcontent22-info{
				border: 1px solid #e3e3e3;			
				padding: 3px; 
				.top-mcontent22-img{
					text-align: center;
					img{
						width: auto;
						height: auto;
					}
				}  			
				.top-mc22-title{
					padding-top: 8px; 
					text-align: center;
					a{
						color: $sub_color1;
						font:{
							size: 20px;
							weight: bold;
						}
						&:hover{color: $main_color;}
					}						
				}
				.top-mc22-text1{
					text-align: center;
					padding-top: 11px;
					a{
						color: $sub_color3;
						font:{
							size: 14px;
							weight: bold;
						}
						&:hover{color: $main_color;}
					}					
				}
				.top-mc22-text2{
					margin-top: 10px;
					background-color: #f5f5f5;				
					text-align: center;
					padding: 10px 0 15px 0;			
					.top-mc22-size1{	
						padding-bottom: 12px;			
						color: $sub_color3;
						font:{
							size: 12px;
							weight: bold;
						}
						.top-mc22-size{
							background-color: $sub_color1;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
					}
					.top-mc22-size2{										
						color: $sub_color1;					
						font:{
							size: 32px;
							weight: bold;
						}
						.top-mc22-size{
							background-color: $sub_color1;
							text-transform: uppercase;
							color: $sub_color2;
							@include border_radius(10px);
							padding: 3px 14px;
							margin-right: 10px;
							font:{
								size: 12px;
								weight: bold;
							} 
						}
						.top-mc22-symbol1{
							color: $sub_color3;
							font:{
								size: 16px;
								weight: bold;
							}
						}
						.top-mc22-symbol2{
							font:{
								size: 24px;
								weight: bold;
							}
						}
					}
				}			
			}
		}/* end top-main1-content2*/
	
}


/*-- breadcrumb --*/
#top-breadcrumb{
	margin-top: 213px;
	background-color: #696969;
	line-height: 30px;
	color: $sub_color2;
	.home{
		color: $sub_color2;
	}
	a:hover{
		color: $main_color;		
	}
	a{color: $sub_color2;}
}

#navi-sp{display: none;}

#menu-toggle{
	position: fixed;
    z-index: 100;
	width: 100%;
	background-color: #f3f3f3;
}

/*-- globalNavi --*/
.globalNavi-bg{		
	border-top: 2px solid #ececec;
	border-bottom: 2px solid #ececec;
	.globalNavi{				
		margin: 0 auto;
		ul{
			list-style: none;
			margin : 0px;
			padding : 0px;			
			li{
				display: inline-block;
				padding: 10px;				
				position : relative;
				border-left: 1px solid #ececec;
				text-align: center;
				a{
					color: $sub_color3;					
					text-align: center;
					font:{
						size: 16px;
						weight: bold;
					}
					.fa{padding-right: 5px;}
				}			
			}
			> li:hover{
				> a{					
					color: $main_color;					
				}			
			}
			> li {	
				> a.link-current{
					color: $main_color;					
				}
			}
			li:last-child{
				border-right: 1px solid #ececec;
			}			
		}
	}
}

/*---- #content ---*/
#content{
	background : $bg_color none no-repeat 0 0 scroll;			
	margin: 45px 0 100px;
	#primary{	
		.h2-title{
			margin-bottom: 25px;
			line-height: 55px;			
			position: relative;
			.h2-title-text{
				position: absolute;
				top: 0;			
				padding-left: 30px;
				color: $sub_color2;
				font:{
					size: 24px;
					weight: bold;
				}
				.h2-title-clr{	
					color: #ffff00;
					font:{
						size: 36px;
						weight: bold;
					}
				}
			}
		}
		.primary-row{
			margin-top: 40px;
			.primary-row{
				margin-top: 20px;
			}			
		}
		.primary-row:first-child{
			margin-top: 0px;
		}		
		
		.wpcf7-text, 
		.wpcf7 select,
		.wpcf7 textarea{    
			width: 100%;						
		}
		.wpcf7c-btn-confirm{
			width: 30% !important;
		}
		.wpcf7-submit, .wpcf7c-btn-back{
			width: 30% !important;
		}			
    }

    #sidebar{
    	img{ max-width : 100%; }
    	.sidebar-row{
			margin-top: 30px;					
		}
		.sidebar-row:first-child{
			margin-top : 0px;
		} 	
		.side-con{			
			position : relative;
			margin-bottom: 10px;			
			img{max-width: 100%;}				
			.side-con-text{
				text-align: center;
				position : absolute;
				width: 100%;
				top : 70px;	
				padding: 0 20px;
				font:{
					size: 17px;
					weight: bold;
				}
			}		
			.side-con-btn{
				text-align: center;
				position : absolute;
				width: 100%;
				bottom : 20px;				
			}
		}

		.side-info-text{
			padding-top: 5px;
			font:{
				size: 12px;
				weight: bold;
			}
			color: $sub_color3;
		}

		/* sideMenu.css */
		.sideMenu{	
			margin-bottom: 10px;
			margin : 0px auto;					
			position: relative;
		}
		.sideMenu ul{
			position: absolute;
			top: 60px;
			width: 100%;
			margin : 0px;
			padding : 0px;
			list-style: none;
		}
		.sideMenu ul li a{
			background : transparent none no-repeat 0 0 scroll;			
			display: block;
			line-height: 52px;									
			padding-left: 65px;
			color: $sub_color3;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.sideMenu ul li a.sideMenu-current{color: $main_color;}	
		.sideMenu ul li a:hover{color: $main_color;}
		.sideMenu ul li:first-child a{
			border-top: none;
		}
		/* end sideMenu */	

		/* sideNav.css */
		.sideNav{						
			margin : 0px auto;
			max-width: 280px;
			.side-navi-title{
				position: relative;								
				.side-title{
					position: absolute;
					top: 17px;		
					color: $sub_color2;			
					padding-left: 25%;	
					font:{
						size: 24px;
						weight: bold;
					}
				}
			}			
		}			
		.sideNav ul{
			border: 3px solid #e3e3e3;		
			border-top: none;	
			margin : 0px;
			padding : 0px;
			list-style: none;
		}
		.sideNav ul li{
			border-bottom: 1px solid #e3e3e3;
		}
		.sideNav ul li:last-child{border-bottom: none;}
		.sideNav ul li a{
			background : #fff none no-repeat 0 0 scroll;			
			padding-left : 30px;
			display: block;
			line-height: 52px;
			position: relative;
			color: $sub_color3;
			font:{
				size: 16px;
				weight: bold;				
			}
			i.fa{
				position: absolute;
				color: $main_color;
				font-size: 16px;
				right: 20px;
				top: 0;
				line-height: 52px;			
			}
		}	
		.sideNav ul li a.sideNav-current{color: $main_color;}		
		.sideNav ul li a:hover{	
			color: $main_color;			
		}
		.sideNav ul li:first-child{
			margin-top : 0px;
		}/* end sideNav */
    }		

}/* end content */

/*---- #footer ---*/
#footer{	
	overflow: hidden;
	#footer-top{
		border-top: 3px solid #e96761;
		background-color: $main_color;
		padding: 22px 0 40px;
		color: $sub_color2;
		.footer-info1 {
			background: url("../img/common/footer_line.jpg") 0 0 repeat-x;
			background-position: bottom;
			padding-bottom: 30px;
			.footer-logo{		
				position: relative;
				.footer-title{
					position: absolute;
					top: -30px;
					left: 100px;
					color: $sub_color3;
					font:{
						size: 10px;
						weight: bold;
					}
				}
			}
			.footer-tel{
				padding: 13px 0 0 35px;
				float: left;			
			}
			.footer-con{			
				float: left;
				padding: 13px 0 0 40px;
			}
		}
		.footer-info2{
			padding-top: 30px;			
			.footer-navi{
				background: url("../img/common/footer_navi_line.jpg") 0 0 repeat-y;
				list-style: none;
				margin: 0;
				padding-left: 30px;
				li{			
					display: inline-block;
					padding: 0px 10px;			
					a{		
						color: $sub_color2;
						font:{
							size: 12px;
							weight: bold;
						}
						.fa{padding-right: 5px;}
						&:hover{text-decoration: underline;}
					}
					a.footer-info2-current{text-decoration:underline;}
				}			
				li:last-child {
					padding: 0 0 0 10px;
				}
			}
			.footer-navi:first-child{margin-left: -10px !important;}
		}		
	}
	#footer-copyright{
		background-color: #ce261e;
		text-align: center;
		color: $sub_color2;	
		line-height: 70px;
		.copyright-title{			
			font:{
				size: 12px;
				weight: bold;
			}
		}
	}	
}

#right-menu {
	display: none;
}
#sibar-sp{display: none;}
#sibar-pc{display: block;}