											/*----------------  RESPONSIVE Media Queries  ----------------------*/
/*----------------------------------*\
                 md
\*----------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1200px) {		
	$container_width: 1060px;
	#wrapper.ie .globalNavi-bg  .globalNavi ul li{ width : $container_width/5; }
	@media screen and (min-width: 768px){
			.globalNavi-bg  .globalNavi ul{
				margin: 0 auto !important;
			}
			.globalNavi-bg .globalNavi ul li{ 
				width : 16.3%; 
				a{font-size: 14px;}
			}			
	}
	header{	
		#header{			
			#headerContent{						
				.header-contact{										
					.header-tel{							
						padding-left: 5px;
					}
					.header-con{						
						padding-left: 12px;
					}			  

				}
				.fa{display: none;}		
			}
		}
	}/* end header*/

	#top-main1 .col-d9 .top-main1-content1 .top-mcontent1-info .top-mc1-text2{padding: 0 50px;}
	#top-main1 .col-d4 .top-main1-content2 .top-mcontent2-info .top-mc2-title{font-size: 18px;}

	#top-main2 .col-d9 .top-main2-content1 .top-mcontent21-info .top-mc21-text2{padding: 0 50px;}
	#top-main2 .col-d4 .top-main2-content2 .top-mcontent22-info .top-mc22-title a{font-size: 18px;}


	.top-content1{		
		.top-content1-text1{
			width: 26%;		
			left: 11.5%;							
			.top-font{
				padding-right: 9%;				
			}
		}
		.top-content1-text2{
			width: 26%;	
			right: 13.5%;									
			.top-font{
				padding-right: 10%;
			}
		}
	}/*end top-content1*/

	.top-contact{		
		.top-contact-text{			
			font:{
				size: 28px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: 2%;
			img{width: 95%;}
		}
	}/*top-contact*/

	#footer{	
		#footer-top{			
			.footer-info1 {				
				.footer-tel{
					padding: 0;
					float: left;			
				}
				.footer-con{			
					float: left;
					padding: 0 0 0 10px;
				}
			}		
		}	
	}/* end #footer */


	/*-----  common ------*/
	#page-feature{		
		.page-feature-content{			
			.feature-title{				
				font-size: 25px;				
				top:40%px !important;
			}
		}	
	}


	
	#content{		
		#primary{
			.h2-sp-title{
				line-height: 135px;			
			}
			img{ max-width : 100%; }			
			.primary-row:first-child{
				margin-top: 0px;
			}
			.top-status{
				font-size: 20px !important;
			}
			.company-table-content{				
				tr th{
					width: 20% !important;				
				}			
			}						
		}
		#sidebar{
			.sideMenu ul{
				top: 55px;
				li{
					a{
						padding-left: 60px;
						font-size: 13px;
						line-height: 45px;
					}
				}
			}
		}			
	}
	
	.type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){
		margin-left: 0;
	}
	.type-tabs-detail li:nth-child(5){
		margin-left: 15px;
	}
	
	/*====== about page ======*/
	.about-content-top{		
		.about-contop-title{						
			font-size: 40px;
		}		
		.about-contop-ltitle, .about-contop-rtitle{		
			top: 32.5%;			
		}		
		.about-contop-ltext{						
			li{margin-bottom: 10px;}
			li:nth-child(1){line-height: 62px;}
			li:nth-child(2){height: 95px;}
			li:nth-child(3), li:nth-child(4){line-height: 77px;}		
		}
		.about-contop-rtext{		
			li{ 
				font-size: 11.5px;
				.about-rtext-clr{font-size: 13.5px;}
			}
			li:nth-child(1){height: 60px;}
			li:nth-child(2){height: 90px;}
			li:nth-child(3), li:nth-child(4){height: 73px;}	
		}
	}
	
	
	/*==== price page ====*/
	.price-table1, .price-table2{			
		tr th{padding: 10px;}		
		tr th:first-child{padding: 10px 10px;}
		tr td{padding: 5px 10px;}		
		tr td:first-child{padding: 5px 10px;}		
	}
	
	
	/*==== esttimation page ====*/
	.estimation-table1 tr th{width: 25%;}
}


/*------------------------------------*\
                 sm
\*------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	#slider-banner, #top-breadcrumb{margin-top: 222px;}	
	$container_width: 1060px;
	#wrapper.ie .globalNavi-bg  .globalNavi ul li{ width : $container_width/5; }
	@media screen and (min-width: 768px){
			.globalNavi-bg  .globalNavi ul{
				margin: 0 auto !important;
			}
			.globalNavi-bg .globalNavi ul li{ 
				width : 16.2%; 
				a{font-size: 10px;}
			}			
	}	
	header{	
		#header{			
			#headerContent{						
				.header-contact{					
					padding-top	: 0;
					.header-tel{
						width: 50%;						
						padding-left: 0;
					}
					.header-con{
						width: 50%;
						padding-left: 14px;					
					}			  

				}
				.fa{display: none;}		
			}
		}
	}/* end header */


	#top-main1{
		.top-main1-title{
			.tmain1-ttext{
				padding-left: 50px;				
				font-size: 18px;
				.tmain1-tclr1{font-size: 28px;}
				.tmain1-tclr2{font-size: 20px;}
			}
		}
		#top-main1-top{
			.col-dsm9{
				width: 25%;
				margin-left: 0.5%;
			}
			.col-dsm18{width: 49%;}
			}
		.col-d9{
			.top-main1-content1{
				margin-bottom: 20px;
				.top-mcontent1-info{
				 	.top-mc1-text2{
				 		padding: 0 10px;
				 		margin-top: 17px;
				 		.top-mc1-size1{				 			
							font-size: 13px;
							.top-mc1-size{font-size: 12px;}
						}
						.top-mc1-size2{
						 	font-size: 26px;
						 	margin-left: 15px;
						 	.top-mc1-size{font-size: 12px;}
						 	.top-mc1-symbol1{font-size: 15px; }
						 	.top-mc1-symbol2{font-size: 16px;}
						}
				 	}
				}
			}
		}

		.col-d4{
			.top-main1-content2{				
				.top-mcontent2-info{
					.top-mc2-title{font-size: 15px;}
					.top-mc2-text1{font-size: 12px;}
					.top-mc2-text2{
						.top-mc2-size1{
							font-size: 12px;
							.top-mc2-size{font-size: 11px;}
						}
						.top-mc2-size2{
						 	font-size: 25px;
						 	.top-mc2-size{font-size: 11px;}
						 	.top-mc2-symbol1{font-size: 14px; }
						 	.top-mc2-symbol2{font-size: 15px;}
						}
					}

				}
			}
		}
		.top-main1-box-bg{	
			.col-dsm4{
				width: 25%;
				margin-left: 0.0%;
			}
			.col-dlg4{				
				.top-main1-box{				
					.top-mbox-info{
						.top-mbox-title a{font-size: 15px;}
						.top-mbox-text1 a{font-size: 12px;}
						.top-mbox-text2{
							.top-mbox-size1{
								font-size: 12px;
								.top-mbox-size{font-size: 11px;}
							}
							.top-mbox-size2{
							 	font-size: 25px;
							 	.top-mbox-size{font-size: 11px;}
							 	.top-mbox-symbol1{font-size: 14px; }
							 	.top-mbox-symbol2{font-size: 15px;}
							}
						}

					}
				}
			}
		}
	}
		
	#top-main2{
		.top-main2-title{
			.tmain2-ttext{
				padding-left: 50px;				
				font-size: 18px;
				.tmain2-tclr1{font-size: 28px;}
				.tmain2-tclr2{font-size: 20px;}
			}
		}
		#top-main2-top{
			.col-dsm9{
				width: 25%;
				margin-left: 0.5%;
			}
			.col-dsm18{width: 49%;}
			}
		.col-d9{
			.top-main2-content1{
				margin-bottom: 20px;
				.top-mcontent21-info{
				 	.top-mc21-text2{
				 		padding: 0 10px;
				 		margin-top: 17px;
				 		.top-mc21-size1{				 			
							font-size: 13px;
							.top-mc21-size{font-size: 12px;}
						}
						.top-mc21-size2{
						 	font-size: 26px;
						 	margin-left: 15px;
						 	.top-mc21-size{font-size: 12px;}
						 	.top-mc21-symbol1{font-size: 15px; }
						 	.top-mc21-symbol2{font-size: 16px;}
						}
				 	}
				}
			}
		}

		.col-tsm4{
				width: 25%;
				margin-left: 0.0%;
			}
			.top-main2-content2{				
				.top-mcontent22-info{
					.top-mc22-title a{font-size: 15px;}
					.top-mc22-text1 a{font-size: 12px;}
					.top-mc22-text2{
						.top-mc22-size1{
							font-size: 12px;
							.top-mc22-size{font-size: 11px;}
						}
						.top-mc22-size2{
						 	font-size: 25px;
						 	.top-mc22-size{font-size: 11px;}
						 	.top-mc22-symbol1{font-size: 14px; }
						 	.top-mc22-symbol2{font-size: 15px;}
						}
					}

				}
			}
		
	}/* end top-main2*/
	
	.top-content1{		
		.top-content1-text1{
			width: 35%;		
			top: 51%;
  			left: 9%;		
  			font-size: 18px;					
			.top-font{
				font-size: 15px;
				padding-right: 9%;				
			}
		}
		.top-content1-text2{
			width: 33%;		
			top: 51%;
  			right: 9%;		
  			font-size: 18px;					
			.top-font{
				font-size: 15px;
				padding-right: 9%;				
			}
		}
	}/*end top-content1*/

	.top-content3{
		.top-content3-text1{font-size: 20px;}
		.top-content3-text2{font-size: 11px;}
		.top-content3-text3, .top-content3-text4{
			bottom: 30%;
			font-size: 11px;
		}
		.top-content3-text5, .top-content3-text6{
			bottom: 11%;
			font-size: 11px;
		}
	}

	.top-content4{	
		.top-content4-text1{
			top: 10%;						
			color: #264d9b;
			font:{
				size: 20px;
				weight: bold;
			}
		}
		.top-content4-text2{
			position: absolute;
			top: 40%;
			left: 5%;		
			color: $sub_color3;
			line-height: 1.2em;
			font:{
				size: 12px;
				weight: bold;
			}
		}
	}/* end top-content4 */

	.top-flow{
		.top-flow-text{
			top: 7px;
		}
	}/* end top-flow*/

	.top-contact{		
		.top-contact-text{			
			font:{
				size: 20px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -8%;
			img{width: 70%;}
		}
	}/*top-contact*/

	#footer{	
		#footer-top{			
			.footer-info1 {	
				.footer-logo{								
					.footer-title{							
						top: -22px;
						left: 72px;							
						font:{
							size: 7.5px;
							weight: bold;
						}
					}
				}			
				.footer-tel{
					padding: 0;
					float: left;			
				}
				.footer-con{			
					float: left;
					padding: 0 0 0 10px;
				}
				.footer-tel, .footer-con{width: 50%;}
			}		
		}	
	}/* end #footer */
	

	/*-------- common -------*/
	#page-feature{		
		.page-feature-content{			
			.feature-title{				
				font-size: 25px;				
			}
		}	
	}
	
	#content{		
		#primary{
			.h2-sp-title{
				line-height: 100px;
				.h2-sp-text{
					font-size: 35px;
				}
			}
			.title-sub{line-height: 35px;}
			.h2-title .h2-title-text{				
				padding-left: 20px;
				font-size: 16px;
				.h2-title-clr{font-size: 23px}
			}
			img{ max-width : 100%; }			
			.primary-row:first-child{
				margin-top: 0px;
			}
			.top-status{
				font-size: 20px !important;
			}
			.company-table-content{				
				tr th{
					width: 20% !important;				
				}			
			}					
		}
		#sidebar{
			.sideMenu ul{
				top: 39px;
				li{
					a{
						padding-left: 45px;
						font-size: 10px;
						line-height: 35px;
					}
				}
			}
			.sideNav .side-navi-title .side-title{
				top: 10px;
				font-size:20px;
				padding-left: 20%;
			}
			.sideNav ul li a{
				padding-left: 10px;
				line-height: 45px;
				font-size: 11px;
			}
			.side-con{
				.side-con-btn{
					img{width: 80%;}
				}
				.side-con-text{
					top: 45px;
					line-height: 1.3em;
					padding: 0 10px;
					font-size: 13px;
				}
			} 
		}		
	}	
	
	/*============== Type page ===================*/
	.type-info{
		.type-info-title{font-size: 13px;}
		.type-info-text1{font-size: 10px;}
		.type-info-text2{
			.type-info-size1{
				.type-info-size{
					margin-left: 5px;
					padding: 3px 11px;
					font-size: 11px;
				}
			} 
			.type-info-size2{
				font-size: 20px;
				.type-info-size{
					margin-left: 5px;					
					padding: 3px 11px;
					font-size: 11px;
				}
				.type-info-symbol1{font-size: 12px;}
				.type-info-symbol2{font-size: 15px;}
			}
		} 		
	} 
	
	
	/*=========== Detail type page ============*/	
	.type-dtitle-h31{
		line-height: 35px;
		.type-h31-text{
			padding-left: 45px;
			font-size: 15px;
		}
	} 
	.type-detail-content .type-dtitle-h32, .price-title{line-height: 35px;}
	.type-detail-content .type-dtitle-h32 .type-h32-text, .price-title .price-title-text{
		padding-left: 45px;
		font-size: 15px;	
	}
	.type-tabs-detail li:nth-child(1), .type-tabs-detail li:nth-child(2), .type-tabs-detail li:nth-child(3), .type-tabs-detail li:nth-child(6){
		background-size: contain;
		width: 155px;
	}
	.type-tabs-detail li:nth-child(5){
		background-size: contain;
		width: 155px;
		margin-left: 15px;
	}
	.type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){
		background-size: contain;
		width: 155px;
		margin-left: 0;
	}

	.type-detail-content{
		.type-table-info{			
			tr{
				td:first-child{
					border: none;					
					display: block;									
					width: 100%;
					line-height: 45px;
				}	
				td{
					line-height: 45px;
				    display: block;	
				    border-right: none;	
					word-break: break-word
				}		    
			}				
		}
	}	
	
	/*============== Kabekake page ===================*/
	.kabekake-info{
		.kabekake-info-title{font-size: 13px;}
		.kabekake-info-text1{font-size: 10px;}
		.kabekake-info-text2{
			.kabekake-info-size1{
				.kabekake-info-size{
					margin-left: 5px;
					padding: 3px 11px;
					font-size: 11px;
				}
			} 
			.kabekake-info-size2{
				font-size: 20px;
				.kabekake-info-size{
					margin-left: 5px;					
					padding: 3px 11px;
					font-size: 11px;
				}
				.kabekake-info-symbol1{font-size: 12px;}
				.kabekake-info-symbol2{font-size: 15px;}
			}
		} 		
	} 
	ul.kabekake-tabs li:nth-child(1), ul.kabekake-tabs li:nth-child(2), ul.kabekake-tabs li:nth-child(3){		
		width: 155px;
	}
	
	/*=========== Detail Kabekake page ============*/
	.kabekake-dtitle-h31 .kabekake-h31-text{
		padding-left: 45px;
		font-size: 15px;
	}
	.kabekake-detail-content .kabekake-dtitle-h32 .kabekake-h32-text{
		padding-left: 45px;
		font-size: 15px;	
	}
	.kabekake-tabs-detail li:nth-child(1), .kabekake-tabs-detail li:nth-child(2), .kabekake-tabs-detail li:nth-child(3), .kabekake-tabs-detail li:nth-child(4){
		background-size: contain;
		width: 155px;
	}
	.kabekake-detail-content{
		.kabekake-table-info{			
			tr{
				td:first-child{
					border: none;					
					display: block;									
					width: 100%;
					line-height: 45px;
				}	
				td{
					line-height: 45px;
				    display: block;	
				    border-right: none;	
					word-break: break-word
				}		    
			}				
		}
	}
	
	
	/*====== about page ======*/
	.about-content-top{		
		.about-contop-title{						
			font-size: 30px;
		}		
		.about-contop-ltitle, .about-contop-rtitle{		
			top: 32%;	
			font-size: 20px;
		}		
		.about-contop-ltext{						
			li{
				font-size: 13px;
				margin-bottom: 8px;
			}
			li:nth-child(1){line-height: 45px;}
			li:nth-child(2){
				padding: 15px;
				height: 70px;
			}
			li:nth-child(3), li:nth-child(4){line-height: 60px;}		
		}
		.about-contop-rtext{		
			li{ 
				font-size: 9.5px;
				padding: 6px 5px 5px 12px;
				line-height: 1.5em;
				.about-rtext-clr{font-size: 11px;}				
			}
			li:nth-child(1){height: 45px;}
			li:nth-child(2){height: 70px;}
			li:nth-child(3), li:nth-child(4){height: 54px;}	
		}
	}
	
	/*==== price page ====*/
	.price-table1, .price-table2{			
		tr th{
			padding: 7px;
			font-size: 12px;
		}			
		tr th:first-child{padding:7px;}
		tr td{
			padding: 7px;
			font-size: 12px;
		}	
		tr td:first-child{
			padding: 7px;
			font-size: 12px;		
		}			
	}	
	
	/*======== draft page==========*/
	.draft-content{		
		.draft-info{			
			width: 94%;
		}
	}
	
	/*======== faq page==========*/
	.faq-a .faq-a-text{width: 88%;}
	.faq-q {
		.faq-q-lltext{
			left: 4%;
			font-size: 13.5px;
		}
		.faq-q-ltext{
			left: 15%;
			font-size: 14px;
		}
		.faq-q-text{
			left: 30%;
			font-size: 14px;
		}
	}
}

/*------------------------------------*\
                 xs
\*------------------------------------*/
@media screen and (max-width: 768px) {	
	.xs-align{
		text-align: center;
		margin-bottom: 20px;
	}
	.xs-arrange{margin-bottom: 20px;}
	.xs-mt30{margin-bottom: 25px;}
	#slider-banner, #top-breadcrumb{margin-top: 0;}
	#top-flow{padding-bottom: 10px;}
	header #header{padding: 20px 0 20px;}
	#top-header{
		position: relative;  
	}	
	
	nav #menu-toggle{
		display: none;
	}	
	.top{
		display: none;
	}
	#right-menu {
		display: block;
		float: right;
		padding-left: 20px;
	}
	nav #menu-toggle{
		display: none;
	}
	#top{
		display: none;	
	}		
	
	header #header{border-bottom: 3px solid $main_color;}

	#top-main1{	
		margin-top: 20px;
		.top-main1-title{
			.tmain1-ttext{
				padding-left: 35px;				
				font-size: 14px;
				.tmain1-tclr1{font-size: 20px;}
				.tmain1-tclr2{font-size: 16px;}
			}
		}
		#top-main1-top{
		.col-dxs9{width: 48.4%;}
		.col-dxs18{width: 100%;}
		}
		.top-main1-box-bg{
			margin: 0 0 0 4px;
			.col-dxs9{
				width: 49%;
				margin-left: 1% !important;
			}			
		}
		.top-main1-box-bg:first-child{margin: 20px 0 0 4px;}
	}

	#top-main1 .col-d9 .top-main1-content1 .top-mcontent1-info .top-mc1-text2{padding: 0 0;}	
	#top-main1 .col-d9 .top-main1-content1 .top-mcontent1-info .top-mc1-text2{line-height: 30px;}
	#top-main1 .col-d9 .top-main1-content1 .top-mcontent1-info .top-mc1-text2 .top-mc1-size1{float: none;}
	#top-main1 .col-d9 .top-main1-content1 .top-mcontent1-info .top-mc1-text2 .top-mc1-size2{float: none;}
	
	#top-main2 .col-d9 .top-main2-content1 .top-mcontent21-info .top-mc21-text2{padding: 0 0;}
	#top-main2 .col-d9 .top-main2-content1 .top-mcontent21-info .top-mc21-text2{line-height: 30px;}
	#top-main2 .col-d9 .top-main2-content1 .top-mcontent21-info .top-mc21-text2 .top-mc21-size1{float: none;}
	#top-main2 .col-d9 .top-main2-content1 .top-mcontent21-info .top-mc21-text2 .top-mc21-size2{float: none;}
	
	#top-main2{
		.top-main2-title{
			.tmain2-ttext{
				padding-left: 35px;				
				font-size: 14px;
				.tmain2-tclr1{font-size: 20px;}
				.tmain2-tclr2{font-size: 16px;}
			}
		}
		#top-main2-top{
			.col-dxs9{width: 48.4%;}
			.col-dxs18{width: 100%;}
		}
		.col-txs9{
				width: 49%;
				margin-left: 1% !important;
			}
			.top-main2-content2{				
				.top-mcontent22-info{
					.top-mc22-title a{font-size: 15px;}
					.top-mc22-text1 a{font-size: 12px;}
					.top-mc22-text2{
						.top-mc22-size1{
							font-size: 12px;
							.top-mc22-size{font-size: 11px;}
						}
						.top-mc22-size2{
						 	font-size: 25px;
						 	.top-mc22-size{font-size: 11px;}
						 	.top-mc22-symbol1{font-size: 14px; }
						 	.top-mc22-symbol2{font-size: 15px;}
						}
					}

				}
			}		
	}	
	
	.top-content1{		
		.top-content1-text1{
			width: 27%;
			left: 11%;						
			.top-font{				
				padding-right: 15%;				
			}
		}
		.top-content1-text2{
			width: 27%;
			right: 13%;						
			.top-font{				
				padding-right: 15%;				
			}
		}
	}/*end top-content1*/
		
	#content #primary .top-main4 img {max-width: 100% !important;}
	/*----- common ----*/
	.invisible-sp{display: none;}
	.visible-sp{display: block;}
	#sibar-pc{display: none;}
	#sibar-sp{display: block;}		
	.header-right{		
		float: right;
		.fa{
			display: block !important;
			float: right;
			margin-top: 5px;			
			font-size: 30px;
			color: $main_color;			
		}
	}
	
	#page-feature{		
		.page-feature-content{			
			.feature-title{				
				font-size: 20px;				
			}
		}	
	}
	
	#content {
		#primary{
			img{
				max-width: 100%;
			}						
			.primary-row:first-child{
				margin-top: 0px;
			}			
														
		}	
		#sidebar{
			.sidebar-row{text-align: center;}
			.side-con{
				 .side-con-text{
				 	top: 75px;
				 	font-size: 12px;
				 }
			}
			.sideMenu{
				ul{
					li{
						a{padding-left: 0;}
					}
				}
			}
		}	
	}
	
	#footer{
		#footer-top{
			.footer-info1{
				text-align: center;
				.footer-tel{
					float: none;
					text-align: center;
				}
				.footer-con{
					float: none;
					text-align: center;
				}
			}
			.footer-info2{
				.footer-navi{					
					background: none;
					li a{font-size: 10px;}
				}
			}				
		}
	}
	
	/*----- company-page ----*/	
	.company-table-content{		
		width : 98%;		
		tr{	
			th,td{
				border-top: none !important;			
				text-align: left;
				display: block;
			}
		}
		tr th, tr td{
			width: 98% !important;				
		}			
	}	

	/*=========== Detail type page ============*/
	.type-dtitle-h31{margin: 15px 0 20px;}
	.type-tabs-detail li:nth-child(1), .type-tabs-detail li:nth-child(2), .type-tabs-detail li:nth-child(3), .type-tabs-detail li:nth-child(5), .type-tabs-detail li:nth-child(6), .type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){
		background-size: contain;
		width: 22%;
		a{font-size: 12px;}
	}	
	
	.type-detail-content{
		.type-table-info{			
			tr{
				td:first-child{
					border: none;					
					display: block;		
					width: 100%;
					line-height: 45px;
				}	
				td{
					line-height: 45px;
				    display: block;	
				    border-right: none;	
					word-break: break-word;
				}		    
			}				
		}
	}

	/*=========== Detail Kabekake page ============*/
	.kabekake-tabs-detail li:nth-child(1), .kabekake-tabs-detail li:nth-child(2), .kabekake-tabs-detail li:nth-child(3), .kabekake-tabs-detail li:nth-child(4){
		background-size: contain;
		width: 22%;
		a{font-size: 12px;}
	}	
	
	.kabekake-detail-content{
		.kabekake-table-info{			
			tr{
				td:first-child{
					border: none;					
					display: block;		
					width: 100%;
					line-height: 45px;
				}	
				td{
					line-height: 45px;
				    display: block;	
				    border-right: none;	
					word-break: break-word;
				}		    
			}				
		}
	}	
	
	
	/*====== about page ======*/
	.about-content-top{		
		.about-contop-title{						
			font-size: 40px;
		}				
		.about-contop-ltext{												
			li:nth-child(2){height: 100px;}
			li:nth-child(3), li:nth-child(4){line-height: 85px;}		
		}
		.about-contop-rtext{					
			li:nth-child(1){height: 66px;}
			li:nth-child(2){height: 100px;}
			li:nth-child(3), li:nth-child(4){height: 80px;}	
		}
	}
	
	/*==== price page ====*/
	.price-table1, .price-table2{			
		tr th{padding: 10px;}		
		tr th:first-child{padding: 10px 10px;}
		tr td{padding: 5px 10px;}		
		tr td:first-child{padding: 5px 10px;}					
	}	
	
	/*========== draft page=============*/
	.draft-content{		
		.draft-info{			
			width: 90%;
		}
	}
	
	/*======== faq page==========*/
	.faq-a .faq-a-text{width: 85%;}
	.faq-q {
		.faq-q-lltext{
			left: 4%;
			font-size: 13.5px;
		}
		.faq-q-ltext{
			left: 15%;
			font-size: 14px;
		}
		.faq-q-text{
			left: 30%;
			font-size: 14px;
		}
	}	
}

/*------------------------------------*\
              Other media 
\*------------------------------------*/

/*============== begin footer ==============*/
@media only screen and (max-width: 555px){	
	#footer #footer-top .footer-info1 .footer-tel{
		float: none;
		text-align: center;
	}
	#footer #footer-top .footer-info1 .footer-con{
		float: none;
		text-align: center;
	}	
}
@media only screen and (max-width: 450px){	
	#footer{
		#footer-copyright{
			line-height: 3em;		
			.copyright-title{font-size: 11px;}
		}
	}
}
@media only screen and (max-width: 370px){	
	#footer{
		#footer-copyright{
			line-height: 1.5em;		
			.copyright-title{font-size: 10px;}
		}
	}
}
/*============== end  footer ==============*/


/*============ begin top-content1 =========*/
@media only screen and (max-width: 715px){	
	.top-content1{		
		.top-content1-text1{
			width: 30%;
			left: 13.5%;	
			font-size: 13px;				
			.top-font{				
				padding-right: 6%;				
				font-size: 13px;
			}
		}
		.top-content1-text2{
			width: 30%;
			right: 8%;		
			font-size: 13px;				
			.top-font{				
				padding-right: 10%;	
				font-size: 13px;				
			}
		}
	}/*end top-content1*/
}

@media only screen and (max-width: 640px){	
	.top-content1{		
		.top-content1-text1{
			width: 40%;
			left: 7%;	
			font-size: 13px;				
			.top-font{				
				padding-right: 35%;				
				font-size: 13px;
			}
		}
		.top-content1-text2{
			width: 40%;
			left: 57%;	
			font-size: 13px;				
			.top-font{				
				padding-right: 30%;				
				font-size: 13px;
			}
		}
	}/*end top-content1*/
}

@media only screen and (max-width: 640px){	
	.top-content1{			
		.top-content1-text1{			
			top: 50.5%;
			width: 40%;
			left: 10%;	
			font-size: 13px;				
			.top-font{				
				padding-right: 20%;				
				font-size: 12px;
			}
		}
		.top-content1-text2{		
			top: 50.5%;
			width: 40%;
			left: 59%;	
			font-size: 13px;				
			.top-font{				
				padding-right: 20%;				
				font-size: 12px;
			}
		}
	}/*end top-content1*/
}

@media only screen and (max-width: 500px){	
	.top-content1{			
		.top-content1-text1{			
			top: 50.5%;
			width: 40%;
			left: 9%;	
			font-size: 10px;				
			.top-font{				
				padding-right: 15%;				
				font-size: 10px;
			}
		}
		.top-content1-text2{		
			top: 50.5%;
			width: 40%;
			left: 59%;	
			font-size: 10px;				
			.top-font{				
				padding-right: 15%;				
				font-size: 10px;
			}
		}
	}/*end top-content1*/
}

@media only screen and (max-width: 400px){	
	.top-content1{			
		.top-content1-text1{			
			top: 48.5%;
			width: 40%;
			left: 6%;	
			font-size: 9px;				
			.top-font{				
				padding-right: 20%;				
				font-size: 9px;
			}
		}
		.top-content1-text2{		
			top: 48.5%;
			width: 40%;
			left: 56%;	
			font-size: 9px;				
			.top-font{				
				padding-right: 20%;				
				font-size: 9px;
			}
		}
	}/*end top-content1*/
}
/*============ end top-content1 =========*/


/*============ begin top-contact =========*/
@media only screen and (max-width: 750px) {			
	.top-contact{		
		.top-contact-text{			
			font:{
				size: 20px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -1%;
			img{width: 90%;}
		}
	}/*top-contact*/
}

@media only screen and (max-width: 630px) {			
	.top-contact{		
		.top-contact-text{			
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -8%;
			img{width: 70%;}
		}
	}/*top-contact*/
}

@media only screen and (max-width: 530px) {			
	.top-contact{		
		.top-contact-text{			
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -15%;
			img{width: 60%;}
		}
	}/*top-contact*/
}

@media only screen and (max-width: 460px) {			
	.top-contact{		
		.top-contact-text{			
			font:{
				size: 14px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -23%;
			img{width: 50%;}
		}
	}/*top-contact*/
}

@media only screen and (max-width: 400px) {			
	.top-contact{		
		.top-contact-text{			
			font:{
				size: 12px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -30%;
			img{width: 40%;}
		}
	}/*top-contact*/
}

@media only screen and (max-width: 350px) {			
	.top-contact{		
		.top-contact-text{			
			font:{
				size: 10px;
				weight: bold;
			}
		}
		.top-contact-btn{								
			right: -40%;
			img{width: 30%;}
		}
	}/*top-contact*/
}
/*============ end top-contact =========*/


/*============ begin top-content3 =========*/
@media only screen and (max-width: 750px){
	.top-content3{
		.top-content3-text1{font-size: 20px;}
		.top-content3-text2{
			font-size: 11px;
			top: 28%;
		}
		.top-content3-text3{
			left: 10%;
			bottom: 30%;
			font-size: 11px;
		}
		.top-content3-text4{
			right: 35%;
			bottom: 30%;
			font-size: 11px;
		}
		.top-content3-text5{
			left: 10%;
			bottom: 11%;
			font-size: 11px;
		}
		.top-content3-text6{
			right: 35%;
			bottom: 11%;
			font-size: 11px;
		}
	}
}

@media only screen and (max-width: 580px){
	.top-content3{
		.top-content3-text1{font-size: 15px;}
		.top-content3-text2{
			font-size: 9px;
			top: 28%;
			line-height: 2em;
		}
		.top-content3-text3{
			left: 8%;
			bottom: 29%;
			font-size: 8px;
		}
		.top-content3-text4{
			right: 35%;
			bottom: 29%;
			font-size: 8px;
		}
		.top-content3-text5{
			left: 8%;
			bottom: 10%;
			font-size: 8px;
		}
		.top-content3-text6{
			right: 35%;
			bottom: 10%;
			font-size: 8px;
		}
	}
}

@media only screen and (max-width: 450px){
	.top-content3{
		.top-content3-text1{
			font-size: 10px;
			top: 7%;
		}
		.top-content3-text2{
			font-size: 7px;
			top: 28%;
			line-height: 1.8em;
		}
		.top-content3-text3{
			left: 10%;
			bottom: 28%;
			font-size: 6.5px;
		}
		.top-content3-text4{
			right: 34%;
			bottom: 27%;
			font-size: 6.5px;
		}
		.top-content3-text5{
			left: 11%;
			bottom: 8%;
			font-size: 6.5px;
		}
		.top-content3-text6{
			right: 34%;
			bottom: 8%;
			font-size: 6.5px;
		}
	}
}

@media only screen and (max-width: 350px){
	.top-content3{
		.top-content3-text1{
			font-size: 8px;
			top: 9%;
		}
		.top-content3-text2{
			font-size: 5.5px;
			top: 30%;
			line-height: 1.5em;
		}
		.top-content3-text3{
			left: 10%;
			bottom: 25%;
			font-size: 6px;
		}
		.top-content3-text4{
			right: 33%;
			bottom: 24%;
			font-size: 6px;
		}
		.top-content3-text5{
			left: 9%;
			bottom: 8%;
			font-size: 6px;
		}
		.top-content3-text6{
			right: 33%;
			bottom: 8%;
			font-size: 6px;
		}
	}
}
/*============ end top-content3 =========*/


/*============ begin top-content4 =========*/
@media only screen and (max-width: 650px){
	.top-content4{
		.top-content4-text1{
			font-size: 24px;
		}
		.top-content4-text2{
			font-size: 10px;
		}
	}
}

@media only screen and (max-width: 540px){
	.top-content4{
		.top-content4-text1{
			font-size: 17px;
		}
		.top-content4-text2{
			top: 35%;
			font-size: 9px;
			line-height: 1.5em;
		}
	}
}

@media only screen and (max-width: 430px){
	.top-content4{
		.top-content4-text1{
			font-size: 12px;
		}
		.top-content4-text2{
			top: 35%;
			font-size: 7px;
			line-height: 1.5em;
		}
	}
}
/*============ end  top-content3 =========*/

/*============ end  footer =========*/
@media only screen and (max-width: 510px) {	
	#footer #footer-top .footer-info1 .footer-logo .footer-title{
		font-size: 60%;
		top: -27px;
	}
}

@media only screen and (max-width: 446px) {	
	#footer #footer-top .footer-info1 .footer-logo .footer-title{
		font-size: 50%;
		top: -25px;
		left: 85px;
	}
}

@media only screen and (max-width: 390px) {	
	#footer #footer-top .footer-info1 .footer-logo .footer-title{
		font-size: 45%;
		top: -22px;
		left: 80px;
	}
}

@media only screen and (max-width: 350px) {	
	#footer #footer-top .footer-info1 .footer-logo .footer-title{
		font-size: 43%;
		top: -20px;
		left: 65px;
	}
}

@media screen and (max-width: 510px) {
	#footer #footer-top .footer-info1 .footer-logo .footer-title{}
}
@media screen and (min-width: 990px) {
	#footer{	
		#footer-top{			
			.footer-info2{				
				.col-35{
					display: block;
					float: left;
					width: 20% !important;
				}
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 990px)  {
	#footer{	
		#footer-top{			
			.footer-info2{				
				.col-35{
					display: block;
					float: left;
					width: 20% !important;
					.footer-navi{						
						padding-left: 10px;
					}
				}
			}
		}	
	}
}

/*============ end  footer =========*/

/*=============== Detail type page =================*/
@media only screen and (max-width: 620px){	
	.type-dtitle-h31 .type-h31-text{
		padding-left: 50px;
		font-size: 14px;
	}
	.type-detail-content .type-dtitle-h32 .type-h32-text, .price-title .price-title-text{
		padding-left: 40px;
		font-size: 12px;
	}	
}
@media only screen and (max-width: 650px){	

	.type-tabs-detail li:nth-child(1), .type-tabs-detail li:nth-child(2), .type-tabs-detail li:nth-child(3), .type-tabs-detail li:nth-child(5), .type-tabs-detail li:nth-child(6), .type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){					
			background-size: contain;
			width: 22%;
			a{
				font-size: 10px;
				line-height: 50px;
			}
	}	
	.type-tabs-detail li{height: 60px!important;}

}

@media only screen and (max-width: 525px){	
	
	.type-tabs-detail li:nth-child(1), .type-tabs-detail li:nth-child(2), .type-tabs-detail li:nth-child(3), .type-tabs-detail li:nth-child(5), .type-tabs-detail li:nth-child(6), .type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){					
			background-size: contain;
			width: 22%;
			a{
				font-size: 9px;
				line-height: 39px;
			}
	}	
	.type-tabs-detail li{
		height: 45px!important;
		margin-left: 10px;
	}

}

@media only screen and (max-width: 450px){	
	
	.type-tabs-detail li:nth-child(1), .type-tabs-detail li:nth-child(2), .type-tabs-detail li:nth-child(3), .type-tabs-detail li:nth-child(5), .type-tabs-detail li:nth-child(6), .type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){					
			background-size: contain;
			width: 22%;
			a{
				font-size: 7px;
				line-height: 30px;
			}
	}	
	.type-tabs-detail li{
		height: 35px!important;
		margin-left: 5px;
	}

}


@media only screen and (max-width: 355px){		
	.type-tabs-detail li:nth-child(1), .type-tabs-detail li:nth-child(2), .type-tabs-detail li:nth-child(3), .type-tabs-detail li:nth-child(5), .type-tabs-detail li:nth-child(6), .type-tabs-detail li:nth-child(4), .type-tabs-detail li:nth-child(7){					
			background-size: contain;
			width: 22%;
			a{
				font-size: 6px;
				line-height: 24px;
			}
	}	
	.type-tabs-detail li{
		height: 27px!important;
		margin-left: 5px;
	}

}

@media only screen and (max-width: 425px){	
	.title-sub .title-sub-text, .step-to-step .step-title{
		padding-left: 35px;
		font-size: 13px;
	}
	
	.type-dtitle-h31 .type-h31-text{
		padding-left: 40px;
		font-size: 12px;
	}
	.type-detail-content .type-dtitle-h32 .type-h32-text, .price-title .price-title-text{
		padding-left: 30px;
		font-size: 11px;
	}	
}
/*=============== Detail type page =================*/

/*=============== Detail kabekake page =================*/
@media only screen and (max-width: 620px){	
	.kabekake-dtitle-h31 .type-h31-text{
		padding-left: 50px;
		font-size: 14px;
	}
	.kabekake-detail-content .kabekake-dtitle-h32 .kabekake-h32-text{
		padding-left: 40px;
		font-size: 12px;
	}	
}
@media only screen and (max-width: 650px){	
	.kabekake-tabs-detail li:nth-child(1), .kabekake-tabs-detail li:nth-child(2), .kabekake-tabs-detail li:nth-child(3), .kabekake-tabs-detail li:nth-child(4){
			background-size: contain;
			width: 22%;
			a{
				font-size: 10px;
				line-height: 50px;
			}
	}	
	.kabekake-tabs-detail li{height: 60px;}
}

@media only screen and (max-width: 525px){	
	
	.kabekake-tabs-detail li:nth-child(1), .kabekake-tabs-detail li:nth-child(2), .kabekake-tabs-detail li:nth-child(3), .kabekake-tabs-detail li:nth-child(4){
			background-size: contain;
			width: 22%;
			height: 40px;
			a{
				font-size: 9px;
				line-height: 39px;
			}
	}	
	.kabekake-tabs-detail li{
		height: 45x;
		margin-left: 10px;
	}

}

@media only screen and (max-width: 450px){		
	.kabekake-tabs-detail li:nth-child(1), .kabekake-tabs-detail li:nth-child(2), .kabekake-tabs-detail li:nth-child(3), .kabekake-tabs-detail li:nth-child(4){
			background-size: contain;
			width: 22%;
			a{
				font-size: 7px;
				line-height: 30px;
			}
	}	
	.kabekake-tabs-detail li{
		height: 35px!important;
		margin-left: 5px;
	}
}

@media only screen and (max-width: 355px){		
	.kabekake-tabs-detail li:nth-child(1), .kabekake-tabs-detail li:nth-child(2), .kabekake-tabs-detail li:nth-child(3), .kabekake-tabs-detail li:nth-child(4){
			background-size: contain;
			width: 22%;
			a{
				font-size: 6px;
				line-height: 24px;
			}
	}	
	.kabekake-tabs-detail li{
		height: 27px!important;
		margin-left: 5px;
	}

}

@media only screen and (max-width: 425px){		
	.kabekake-dtitle-h31 .kabekake-h31-text{
		padding-left: 40px;
		font-size: 12px;
	}
	.kabekake-detail-content .kabekake-dtitle-h32 .kabekake-h32-text{
		padding-left: 30px;
		font-size: 8px;
	}	
}
/*=============== Detail kabekake page =================*/
@media only screen and (max-width: 650px){
	ul.kabekake-tabs li:nth-child(1), ul.kabekake-tabs li:nth-child(2), ul.kabekake-tabs li:nth-child(3){		
		width: 25%;
		padding-top: 12px;
		font-size: 15px;
		height: 65px;
	}
}
@media only screen and (max-width: 490px){
	ul.kabekake-tabs li:nth-child(1), ul.kabekake-tabs li:nth-child(2), ul.kabekake-tabs li:nth-child(3){		
		width: 25%;
		padding-top: 9px;
		font-size: 13px;
		height: 47px;
	}
}
@media only screen and (max-width: 430px){
	ul.kabekake-tabs li:nth-child(1), ul.kabekake-tabs li:nth-child(2), ul.kabekake-tabs li:nth-child(3){		
		width: 25%;
		padding-top: 5px;
		font-size: 10px;
		height: 47px;
	}
}


/*=============== @Media Screen w500px =================*/
@media only screen and (max-width: 500px){	
	#content{margin: 25px 0 100px;}
	.top-flow .top-flow-text{
		top: 3px;
		font-size: 70%;
	}
	.title-sub , .step-to-step{
		margin-bottom: 15px;
		line-height: 35px;
	}	
	#content {
		#primary{
			.h2-title .h2-title-text{				
				padding-left: 10px;
				font-size: 12px;
				.h2-title-clr{font-size: 14px}
			}
		}
	}
	
	#top-main1{
		.top-main1-title{
			.tmain1-ttext{
				padding-left: 28px;				
				font-size: 10px;
				.tmain1-tclr1{font-size: 16px;}
				.tmain1-tclr2{font-size: 12px;}
			}
		}
		.col-d4{
			.top-main1-content2{				
				.top-mcontent2-info{
					.top-mc2-title{font-size: 15px;}
					.top-mc2-text1{font-size: 12px;}
					.top-mc2-text2{
						.top-mc2-size1{
							font-size: 11px;
							.top-mc2-size{
								margin-right: 5px;
								font-size: 10px;
								padding: 3px 7px;
							}
						}
						.top-mc2-size2{
						 	font-size: 18px;
						 	.top-mc2-size{
								margin-right: 5px;
									font-size: 10px;
									padding: 3px 7px;
							}
						 	.top-mc2-symbol1{font-size: 13px; }
						 	.top-mc2-symbol2{font-size: 14px;}
						}
					}

				}
			}
		}
		.top-main1-box-bg{				
			.col-dlg4{				
				.top-main1-box{				
					.top-mbox-info{
						.top-mbox-title a{font-size: 15px;}
						.top-mbox-text1 a{font-size: 12px;}
						.top-mbox-text2{
							.top-mbox-size1{
								font-size: 11px;
								.top-mbox-size{
									margin-right: 5px;
									font-size: 10px;
									padding: 3px 7px;
								}
							}
							.top-mbox-size2{
							 	font-size: 18px;
							 	.top-mbox-size{
									margin-right: 5px;
									font-size: 10px;
									padding: 3px 7px;
								}
							 	.top-mbox-symbol1{font-size: 13px; }
							 	.top-mbox-symbol2{font-size: 14px;}
							}
						}

					}
				}
			}
		}
	}
	
	#top-main2{
		.top-main2-title{
			.tmain2-ttext{
				padding-left: 28px;				
				font-size: 10px;
				.tmain2-tclr1{font-size: 16px;}
				.tmain2-tclr2{font-size: 12px;}
			}
		}			
		.top-main2-content2{				
			.top-mcontent22-info{
				.top-mc22-title a{font-size: 15px;}
				.top-mc22-text1 a{font-size: 12px;}
				.top-mc22-text2{
					.top-mc22-size1{
						font-size: 11px;
						.top-mc22-size{
							margin-right: 5px;
							font-size: 10px;
							padding: 3px 7px;
						}
					}
					.top-mc22-size2{
					 	font-size: 18px;
					 	.top-mc22-size{
							margin-right: 5px;
								font-size: 10px;
								padding: 3px 7px;
						}
					 	.top-mc22-symbol1{font-size: 13px; }
					 	.top-mc22-symbol2{font-size: 14px;}
					}
				}
			}
		}
	}
	
	.top-main1{			
		.top-main1-title{
			font-size: 15px !important;
		}
	}
	#page-feature{		
		.page-feature-content{
			position: relative;
			.feature-title{
				position: absolute;
				font-size: 14px !important;
				text-shadow: 0 1px #333;
				color: $sub_color2;									
				top: 25% !important;
			}
		}	
	}
	
	#top-main-list{
		li{		
			.top-main1-title{ font-size: 14px !important;}
		}
	}
	.company-table-content{		
		width : 97%;		
	}
	
	/*============== Type Detail===================*/
	.h2-sp-title{
		line-height: 95px;
		.h2-sp-text{
			left: 45px;
			font-size: 25px;
		}
	}	
	.h3-sp-title .h3-sp-text{
		padding-left: 45px;
		font-size: 15px;
	}	
	
}

@media only screen and (max-width: 415px){	
	#top-main1{
		.top-main1-box-bg:first-child{
			.col-dlg4:nth-child(1){
				.top-main1-box{
					.top-mbox-icon{				
						height: 60px;
						width: 60px;
					}	
				}				
			}			
			.col-dlg4:nth-child(2){			
				.top-main1-box{
					.top-mbox-icon{
						height: 60px;
						width: 60px;
					}	
				}				
			}
			.col-dlg4:nth-child(3){			
				.top-main1-box{
					.top-mbox-icon{
						height: 60px;
						width: 60px;
					}	
				}				
			}
		}
		
	}	
	.col-tlg4:nth-child(1){
		.top-main2-content2{
			.top-mcontent22-icon{
				height: 60px;
				width: 60px;
			}	
		}				
	}
	.col-tlg4:nth-child(2){			
		.top-main2-content2{
			.top-mcontent22-icon{
				height: 60px;
				width: 60px;
			}	
		}	
	}
	.col-tlg4:nth-child(3){			
		.top-main2-content2{
			.top-mcontent22-icon{
				height: 60px;
				width: 60px;
			}	
		}	
	}	
}



/*====== Begin about page ======*/
@media only screen and (max-width: 760px){	
	.about-content-top{							
		.about-contop-ltext{															
			li:nth-child(3), li:nth-child(4){line-height: 80px;}		
		}
		.about-contop-rtext{					
			li{
				font-size: 11.5px;
				.about-rtext-clr{font-size: 13px;}
			}
			li:nth-child(2){height: 100px;}
			li:nth-child(3), li:nth-child(4){height: 80px;}	
		}
	}
}
@media only screen and (max-width: 750px){
	.about-content-top{	
		.about-contop-ltext{															
			li:nth-child(2){height: 93px;}
		}
		.about-contop-rtext{	
			li{margin-bottom: 7px;}
		}
	}	
}

@media only screen and (max-width: 730px){
	.about-content-top{	
		.about-contop-ltext{															
			li:nth-child(3), li:nth-child(4){line-height: 73px;}
		}
		.about-contop-rtext{	
			li:nth-child(1){height: 62px;}
			li:nth-child(3), li:nth-child(4){height: 75px;}	
		}
	}	
}

@media only screen and (max-width: 710px){
	.about-content-top{	
		.about-contop-ltitle,.about-contop-rtitle{top: 32.5%;}
		.about-contop-ltext{															
			li:nth-child(1){line-height: 60px;}			
		}
		.about-contop-rtext{
			li{ padding: 10px 10px 10px 18px;}
			li:nth-child(1){height: 62px;}
			li:nth-child(2){height: 95px;}			
		}
	}	
}

@media only screen and (max-width: 690px){
	.about-content-top{			
		.about-contop-ltext{															
			li:nth-child(2){
				height: 88px;
				padding: 20px;
			}	
			li:nth-child(3), li:nth-child(4){line-height: 70px;}
		}
		.about-contop-rtext{
			li{
				font-size: 10.5px;
				line-height: 1.8em;
				.about-rtext-clr{font-size: 11px;}
			}
			li:nth-child(1){height: 60px;}
			li:nth-child(3), li:nth-child(4){height: 73px;}			
		}
	}	
}


@media only screen and (max-width: 665px){
	.about-content-top{	
		.about-contop-title{font-size: 35px;}
		.about-contop-ltext{															
			li{
				font-size: 13px;
				margin-bottom: 5px;
			}	
			li:nth-child(1){line-height: 55px;}
			li:nth-child(2){
				height: 95px;
				padding: 28px;
			}
		}
		.about-contop-rtext{
			li{	font-size: 10px;}
			li:nth-child(2){height: 83px;}				
			li:nth-child(3), li:nth-child(4){height: 70px;}
		}
	}	
}

@media only screen and (max-width: 630px){
	.about-content-top{			
		.about-contop-ltext{																	
			li:nth-child(2){height: 85px;}			
		}
		.about-contop-rtext{			
			li:nth-child(1){height: 50px;}							
		}
	}	
}

@media only screen and (max-width: 615px){
	.about-content-top{					
		.about-contop-rtext{			
			li:nth-child(3), li:nth-child(4){height: 60px;}							
		}
	}	
}

@media only screen and (max-width: 590px){
	.about-content-top{			
		.about-contop-ltext{																	
			li:nth-child(1){line-height: 50px;}			
			li:nth-child(2){height: 80px;}			
			li:nth-child(3), li:nth-child(4){line-height: 65px;}			
		}
		.about-contop-rtext{			
			li{	
				font-size: 9px;
				.about-rtext-clr{font-size: 10px;}
			}
			li:nth-child(2){height: 78px;}
		}
	}	
}

/*====== price page ======*/
@media only screen and (max-width: 645px){		
	.price-table1, .price-table2{			
		tr th{			
			font-size: 13px;
		}					
		tr td{
			font-size: 13px;
		}	
		tr td:first-child{
			font-size: 13px;		
		}			
	}	
}

@media only screen and (max-width: 605px){		
	.price-table1, .price-table2{			
		tr th{			
			font-size: 12px;
		}					
		tr td{
			font-size: 12px;
		}	
		tr td:first-child{
			font-size: 12px;		
		}			
	}	
}

@media only screen and (max-width: 580px){		
	.price-table1, .price-table2{			
		tr th{			
			padding: 7px;
		}					
		tr td{
			padding: 7px;
		}	
		tr td:first-child{
			padding: 7px;	
			width: 25%;
		}			
	}	
}

@media only screen and (max-width: 460px){		
	.price-table1, .price-table2{			
		tr th{			
			font-size: 11px;
		}					
		tr td{
			font-size: 11px;
		}	
		tr td:first-child{
			font-size: 11px;
		}			
	}	
}

@media only screen and (max-width: 425px){		
	.price-table1, .price-table2{			
		tr th{			
			font-size: 10px;
		}					
		tr td{
			font-size: 10px;
		}	
		tr td:first-child{
			font-size: 10px;			
		}			
	}	
}

@media only screen and (max-width: 410px){		
	.price-table1, .price-table2{			
		tr th{			
			padding: 5px;
		}					
		tr td{
			padding: 5px;
		}	
		tr td:first-child{
			padding: 5px;	
			width: 20%;
		}			
	}	
}

@media only screen and (max-width: 365px){		
	.price-table1, .price-table2{			
		tr th{			
			font-size: 9px;
		}					
		tr td{
			font-size: 9px;
		}	
		tr td:first-child{
			font-size: 9px;
		}			
	}	
}


/*-------------- about-content-top for smartphone--------------*/
@media screen and (max-width: 640px) {
	.about-content-top{display: none;}
	.about-content-top-sp{display: block;}	
}
@media screen and (max-width: 635px) {
	.about-content-top-sp{			
		.about-consp-rtext{					
			width: 61%;					
		}
	}
}

@media screen and (max-width: 620px) {
	.about-content-top-sp{			
		.about-consp-rtext{					
			width: 60%;					
		}
	}
}

@media screen and (max-width: 612px) {
	.about-content-top-sp{			
		.about-consp-rtext{					
			width: 59%;		
			li{font-size: 23.4px;}
		}
	}
}

@media screen and (max-width: 606px) {
	.about-content-top-sp{			
		.about-consp-rtext{								
			li{
				font-size: 23.2px;
				padding: 17px 15px;
			}			
		}
	}
}
@media screen and (max-width: 602px) {
	.about-content-top-sp{			
		.about-consp-rtext{								
			li{				
				padding: 5px 15px;
				margin-bottom: 10px;
				font-size: 23px;
			}			
		}
	}
}

@media screen and (max-width: 590px) {
	.about-content-top-sp{			
		.about-consp-rtext{					
			width: 58%;
		}
	}
}

@media screen and (max-width: 578px) {
	.about-content-top-sp{			
		.about-consp-rtext{					
			width: 57%;	
			li{
				font-size: 22.5px;				
			}			
		}
	}
}

@media screen and (max-width: 568px) {
	.about-content-top-sp{		
		.about-consp-rtext{	
			width: 56%;
			li, li:nth-child(1){
				font-size: 21.5px;
				.about-consp-clr{font-size: 21.5px;}
			}
			li:nth-child(1){height: 130px;}
			li{height: 228px;}
		}
	}
}

@media screen and (max-width: 553px) {
	.about-content-top-sp{		
		.about-consp-rtext{	
			width: 55%;
			li, li:nth-child(1){
				font-size: 20px;
				.about-consp-clr{font-size: 20px;}
			}	
		}
	}
}

@media screen and (max-width: 542px) {
	.about-content-top-sp{		
		.about-consp-rtext{	
			width: 54%;			
		}
	}
}

@media screen and (max-width: 532px) {
	.about-content-top-sp{		
		.about-consp-rtext{	
			width: 52%;	
			li, li:nth-child(1){
				font-size: 20px;
				.about-consp-clr{font-size: 20px;}
			}			
		}
	}
}

@media screen and (max-width: 510px) {
	.about-content-top-sp{		
		.about-consp-rtext{	
			width: 50%;	
			li, li:nth-child(1){
				font-size: 18px;
				padding: 10px;
				.about-consp-clr{font-size: 18px;}
			}			
		}
	}
}

@media screen and (max-width: 492px) {
	.about-content-top-sp{	
		.about-consp-rtext{	
			width: 48%;							
		}
	}
}

@media screen and (max-width: 475px) {
	.about-content-top-sp{	
		.about-consp-rtext{	
			width: 46%;	
			li, li:nth-child(1){
				font-size: 17px;
				.about-consp-clr{font-size: 17px;}
			}			
		}
	}
}

@media screen and (max-width: 458px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 168px;
			li{
				.about-consp-text{font-size: 19px}
			}
		}
	} 	
	.about-content-top-sp{	
		.about-consp-rtext{	
			width: 56%;	
			li, li:nth-child(1){
				font-size: 17px;
				.about-consp-clr{font-size: 17px;}
			}	
			li:nth-child(1){height: 100px;}
			li{height: 175px;}			
		}
	}
}

@media screen and (max-width: 440px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 165px;			
		}
	} 	
	.about-content-top-sp{	
		.about-consp-rtext{				
			li, li:nth-child(1){
				font-size: 15px;
				.about-consp-clr{font-size: 15px;}
			}	
			li:nth-child(1){height: 95px;}					
		}
	}
}

@media screen and (max-width: 435px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 150px;
			li{
				.about-consp-text{font-size: 16px}
			}			
		}
	} 	
	.about-content-top-sp{	
		.about-consp-rtext{								
			li:nth-child(1){height: 90px;}
			li{height: 157px;}			
		}
	}
}

@media screen and (max-width: 400px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 140px;
			li{
				.about-consp-text{font-size: 14px}
			}			
		}
	} 	
	.about-content-top-sp{	
		.about-consp-rtext{				
			li, li:nth-child(1){
				font-size: 14px;
				.about-consp-clr{font-size: 14px;}
			}	
			li:nth-child(1){height: 85px;}
			li{height: 146px;}			
		}
	}
}


@media screen and (max-width: 375px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 130px;						
		}
	} 	
	.about-content-top-sp{	
		.about-consp-rtext{				
			li, li:nth-child(1){
				font-size: 12px;
				.about-consp-clr{font-size: 12px;}
			}	
			li:nth-child(1){height: 75px;}
			li{height: 137px;}			
		}
	}
}

@media screen and (max-width: 355px) {
	.about-content-top-sp{	
		.about-consp-rtext{
			width: 54%;
		}
	}
}

@media screen and (max-width: 340px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 120px;						
			li{
				.about-consp-text{font-size: 12px}
			}
		}
	} 	
	.about-content-top-sp{	
		.about-consp-rtext{				
			li, li:nth-child(1){
				font-size: 11px;
				.about-consp-clr{font-size: 11px;}
			}	
			li:nth-child(1){height: 70px;}
			li{height: 125px;}			
		}
	}
}

@media screen and (max-width: 320px) {
	.about-content-top-sp{
		.about-consp-ltext{
			width: 40%;						
			li{
				.about-consp-text{font-size: 10px}
			}
		}
	}
	.about-content-top-sp{	
		.about-consp-rtext{				
			li, li:nth-child(1){
				font-size: 9px;
				.about-consp-clr{font-size: 9px;}
			}	
			li:nth-child(1){height: 50%;}
			li{height: 50%;}
		}
	}
}


@media screen and (max-width: 620px) {
	.about-content-top-sp .about-consp-rtitle{width: 59%;}
}


@media screen and (max-width: 585px) {
	.about-content-top-sp .about-consp-title{font-size: 35px;}
	.about-content-top-sp .about-consp-rtitle{width: 57%;}
}

@media screen and (max-width: 560px) {	
	.about-content-top-sp .about-consp-rtitle{width: 55%;}
}


@media screen and (max-width: 535px) {	
	.about-content-top-sp .about-consp-rtitle{width: 53%;}
}

@media screen and (max-width: 515px) {	
	.about-content-top-sp .about-consp-title{font-size: 30px;}
	.about-content-top-sp .about-consp-rtitle{width: 51%; font-size: 25px;}
	.about-content-top-sp .about-consp-ltitle{font-size: 25px;}
}

@media screen and (max-width: 490px) {		
	.about-content-top-sp .about-consp-rtitle{width: 47%;}
}

@media screen and (max-width: 460px) {	
	.about-content-top-sp .about-consp-ltitle{width: 165px;}
	.about-content-top-sp .about-consp-rtitle{width: 55%;}
}

@media screen and (max-width: 445px) {	
	.about-content-top-sp .about-consp-title{font-size: 25px;}
	.about-content-top-sp .about-consp-rtitle, .about-content-top-sp .about-consp-ltitle{font-size: 20px;}	
}

@media screen and (max-width: 435px) {	
	.about-content-top-sp .about-consp-ltitle{width: 145px;}
}

@media screen and (max-width: 380px) {	
	.about-content-top-sp .about-consp-title{font-size: 20px;}
	.about-content-top-sp .about-consp-ltitle{width: 126px;}
	.about-content-top-sp .about-consp-rtitle, .about-content-top-sp .about-consp-ltitle{font-size: 16px;}	
}

@media screen and (max-width: 335px) {	
	.about-content-top-sp .about-consp-ltitle{width: 116px;}
}

@media screen and (max-width: 310px) {	
	.about-content-top-sp .about-consp-title{font-size: 16px;}
	.about-content-top-sp .about-consp-ltitle{width: 40%;}
}



@media only screen and (max-width: 700px) {
	.type-dtitle-h31{margin: 0 0 20px;}
	.type-detail-content .type-dtitle-h32{margin: 15px 0 20px;}
}

/*============== faq page ===========*/
@media only screen and (max-width: 440px){	
	.faq-a .faq-a-text{width: 80%;}
}

@media only screen and (max-width: 338px){	
	.faq-a .faq-a-text{width: 75%;}
}

@media only screen and (max-width: 540px){	
	.faq-a .faq-a-img{width: 7%;}
	.faq-q .faq-q-lltext{font-size: 12px;}
	.faq-q .faq-q-text, .faq-q .faq-q-ltext{
		left: 4%;
		font-size: 12px;
	}
}

@media only screen and (max-width: 480px){	
	.faq-q .faq-q-text, .faq-q .faq-q-ltext, .faq-q .faq-q-lltext{
		font-size: 10px;
		top: 10%;
	}	
}

@media only screen and (max-width: 410px){	
	.faq-q .faq-q-text, .faq-q .faq-q-ltext, .faq-q .faq-q-lltext{
		font-size: 9px;
		top: 4%;		
	}	
}


/*============= page-estimate  =========*/
@media screen and (max-width: 660px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ left: 25%;}
}

@media screen and (max-width: 640px){	
	.estimation-table1, .estimation-table2{			
		tr{
			th{
				width: 100%;
				display: block;		
				border-bottom: none;
				.estimate-ttitle{width: auto;}
				.require{		
					float: none;
					margin-left: 20px;
				}
			}
			td{
				display: block;				
			}
		}					
	}
	.ttype1-cf7, .ttype2-cf7{width: 100% !important;}	
}

@media screen and (max-width: 575px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ 		
		top: 25%;
		font-size: 20px;    
	}
}

@media screen and (max-width: 520px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ 		
		top: 20%;
		font-size: 18px;    
	}
}

@media screen and (max-width: 470px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ 		
		top: 15%;
		font-size: 16px;    
	}
}

@media screen and (max-width: 410px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ 		
		top: 11%;
		font-size: 14px;    
	}
}

@media screen and (max-width: 371px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ 		
		top: 9%;
		left: 25%;
		font-size: 12px;    
	}
}

@media screen and (max-width: 315px){
	.estimate_ltitle .estimate_lt-text, .estimate_rtitle .estimate_rt-text{ 		
		top: -2%;
		font-size: 10px;
	}
}


@media only screen and (max-width: 670px){	
	.h2-sp-title{
		line-height: 130px;
		.h2-sp-text{font-size: 35px;}
	}
}

@media only screen and (max-width: 540px){	
	.h2-sp-title{
		line-height: 110px;
		.h2-sp-text{font-size: 30px;}
	}
}


/*===========================================================*/
@media only screen and (max-width: 1200px) {		
	#slider-banner .bx-wrapper .bx-next{right: 10px;}
	#slider-banner .bx-wrapper .bx-prev{left: 10px;}	
}

@media only screen and (min-width: 768px) {			
	#top-mobile{
		display: none;
	}
}

@media only screen and (max-width: 670px){	
	#content {
		#primary{
			.h2-title .h2-title-text{				
				padding-left: 4%;
				font-size: 60%;
				.h2-title-clr{font-size: 150%;}
			}
		}
	}
}

@media only screen and (max-width: 325px){	
	.top-main4{		
		.top-main4-title{
			padding-top: 15px !important;
			font-size: 14px !important;
		}	
		.top-main4-text{font-size: 12px !important;}
	}		
	
	
	.top-main3{
		.top-main3-content{			
			.top-main3-title{
				text-align: center;
				padding-top: 15px !important;
				font-size: 16px !important;
			}	
			.top-main3-text{font-size: 12px !important;}
		}					
	}
		
	#top-main-list{
		li{		
			width: 47.4% !important;						
			.top-main1-title{ font-size: 12px !important;}
		}
	}
}

/*------ globalNavi ----*/
$container_width: 1060px;
#wrapper.ie .globalNavi-bg  .globalNavi ul li{ width : $container_width/5; }
@media screen and (min-width: 768px){
		.globalNavi-bg  .globalNavi ul{
			margin: 0 auto !important;
		}
		.globalNavi-bg .globalNavi ul li{ 
			width : 16.2%; 
		}			
}

