@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/*============= top-page ============*/
.top-content1{
	position: relative;
	.top-content1-text1{
		width: 25%;
		color: $sub_color2;
		position: absolute;
		top: 52%;
		left: 12%;
		font: {
			size: 20px;
			weight: bold;
		}
		.top-font{
			padding-right: 14%;
			font-family: 'HiraKakuStdN W8';
			font:{
				size: 17px;				
			}
		}
	}
	.top-content1-text2{
		width: 25%;
		color: $sub_color2;
		position: absolute;
		top: 52%;
		right: 14%;
		font: {
			size: 20px;
			weight: bold;
		}
		.top-font{
			padding-right: 14%;
			font-family: 'HiraKakuStdN W8';
			font:{
				size: 17px;				
			}
		}	
	}
}/* end top-content1 */

.top-content2{
	.top-content2-img{
		text-align: center;
	}
	.top-content2-title{
		color: #e0332a;
		padding: 15px 0;
		font: {
			size: 18px;
			weight: bold;
		}
	}
	.top-content2-text{
		color: $sub_color3;
		text-align: left;
	}
}/* end top-content2*/

.top-content3{
	position: relative;
	.top-content3-text1{
		position: absolute;
		top: 5%;
		left: 15%;
		line-height: 1.2em;
		color: $main_color;
		font:{
			size: 30px;
			weight: bold;
		}
	}
	.top-content3-text2{
		position: absolute;
		top: 35%;
		left: 15%;		
		color: $sub_color3;
		font:{
			size: 14px;
			weight: bold;
		}
	}
	.top-content3-text3{
		position: absolute;
		bottom: 31%;
		left: 7%;
		color: $sub_color2;
		font:{
			size: 16px;
			weight: bold;
		}
	}
	.top-content3-text4{
		position: absolute;
		bottom: 31%;
		right: 32%;
		color: $sub_color2;
		font:{
			size: 16px;
			weight: bold;
		}
	}
	.top-content3-text5{
		position: absolute;
		bottom: 12%;
		left: 7%;
		color: $sub_color2;
		font:{
			size: 16px;
			weight: bold;
		}
	}
	.top-content3-text6{
		position: absolute;
		bottom: 12%;
		right: 32%;
		color: $sub_color2;
		font:{
			size: 16px;
			weight: bold;
		}
	}
}/* end top-content3 */

.top-content4{
	position: relative;
	.top-content4-text1{
		position: absolute;
		top: 10%;
		left: 5%;
		line-height: 1.2em;
		color: #264d9b;
		font:{
			size: 30px;
			weight: bold;
		}
	}
	.top-content4-text2{
		position: absolute;
		top: 40%;
		left: 5%;		
		color: $sub_color3;
		font:{
			size: 14px;
			weight: bold;
		}
	}
}/* end top-content4 */

.top-flow{
	position: relative;
	.top-flow-text{
		text-align: center;
		position: absolute;
		top: 15px;
		width: 100%;
	}
}/*top-flow*/

.top-contact{
	margin-top: 30px;
	position: relative;
	.top-contact-text{
		position: absolute;
		top: 20%;
		right: 5%;
		color: $sub_color3;
		font:{
			size: 30px;
			weight: bold;
		}
	}
	.top-contact-btn{		
		position: absolute;
		bottom: 20%;
		right: 5%
	}
}/*top-contact*/


.top-info-text{
	color: $sub_color3;
	line-height: 2em;
}/*top-info-text*/


/*=========== common title ============*/
.title-sub{
	margin-bottom: 25px;
	line-height: 58px;			
	position: relative;
	.title-sub-text{
		position: absolute;
		top: 0;			
		padding-left: 65px;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;
		}			
	}
}


.step-to-step{
	margin-bottom: 25px;
	line-height: 58px;			
	position: relative;
	.step-title{
		position: absolute;
		top: 0;			
		padding-left: 65px;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;
		}			
	}
}


/*=========== type page ============*/
.h2-sp-title{		
	line-height: 151px;			
	position: relative;
	.h2-sp-text{
		position: absolute;
		top: 0;			
		left: 60px;
		color: $sub_color3;
		font:{
			size: 46px;
			weight: bold;
		}			
	}
}
.h3-sp-title{
	margin-bottom: 25px;
	line-height: 58px;			
	position: relative;
	.h3-sp-text{
		position: absolute;
		top: 0;			
		padding-left: 65px;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;
		}			
	}
}
.type-content{
	margin-bottom: 35px;
	margin-top: 30px;
	.col-lg-6, .col-md-6, .col-sm-6{padding: 0 15px;}		
}
.type-content:last-child{margin-bottom: 35px;}
.type-info{
	border: 1px solid #e3e3e3;			
	padding: 3px; 
	.type-info-img{
		text-align: center;
		img{width: auto; height: auto;}
	}  			
	.type-info-title{
		padding-top: 6px; 
		text-align: center;		
		font:{
			size: 20px;
			weight: bold;
		}
		a{color: $main_color;}
		a:hover{color: $sub_color3;}
	}
	.type-info-text1{
		text-align: center;
		padding-top: 6px;		
		font:{
			size: 14px;
			weight: bold;
		}
		a{color: $sub_color3;}
		a:hover{color: $main_color;}
	}
	.type-info-text2{
		margin-top: 5px;
		background-color: #f5f5f5;				
		text-align: center;
		padding: 10px 0 12px 0;			
		.type-info-size1{	
			padding-bottom: 9px;			
			color: $sub_color3;
			font:{
				size: 12px;
				weight: bold;
			}
			.type-info-size{
				background-color: $main_color;
				text-transform: uppercase;
				color: $sub_color2;
				@include border_radius(10px);
				padding: 3px 14px;
				margin-right: 10px;
				font:{
					size: 12px;
					weight: bold;
				} 
			}
		}
		.type-info-size2{										
			color: $main_color;					
			font:{
				size: 32px;
				weight: bold;
			}
			.type-info-size{
				background-color: $main_color;
				text-transform: uppercase;
				color: $sub_color2;
				@include border_radius(10px);
				padding: 3px 14px;
				margin-right: 10px;
				font:{
					size: 12px;
					weight: bold;
				} 
			}
			.type-info-symbol1{
				color: $sub_color3;
				font:{
					size: 16px;
					weight: bold;
				}
			}
			.type-info-symbol2{
				font:{
					size: 24px;
					weight: bold;
				}
			}
		}
	}			
}
	
/*=============  detail  type page =============*/
.type-dtitle-h31{
	margin: 25px 0 40px;
	line-height: 50px;			
	position: relative;
	.type-h31-text{
		position: absolute;
		top: 0;			
		padding-left: 65px;
		font:{
			size: 18px;
			weight: bold;
		}
		a{color: $sub_color3;}			
		a:hover{color: $main_color;}
	}
}

.type-dtitle-h4{
	margin-bottom: 20px;
	line-height: 40px;
	background : transparent url("../img/content/type_dtitle_h4.jpg") no-repeat 0 0 scroll;
	padding-left: 60px;
	color: #e0332a;
	font:{
		size: 18px;
		weight: bold;
	}		
}

.type-tabs-detail{	
	padding: 0;
	margin: 0px;			
	list-style: none;	
	li{
		display: inline-block;	
		text-align: center;	
		margin-left: 15px;		
		height: 72px;
		width: 174px;						
		a{		
			line-height: 55px;
			color: $sub_color2;
			padding-top: 20px;
			font:{
				size: 15px;
				weight: bold;
			}
			&:hover{color: #FFCA00;}
		}
		a.typelinks-current{color: #FFCA00;}
	}	
	
	li:nth-child(1){
		background : transparent url("../img/content/type_list_img1.jpg") no-repeat 0 0 scroll;
	}
	li:nth-child(2){
		background : transparent url("../img/content/type_list_img2.jpg") no-repeat 0 0 scroll;
	}
	li:nth-child(3){
		background : transparent url("../img/content/type_list_img3.jpg") no-repeat 0 0 scroll;
	}
	li:nth-child(4){
		background : transparent url("../img/content/type_list_img4.jpg") no-repeat 0 0 scroll;
	}	
	li:first-child{
		margin-left: 0;
	}
}

.type-detail-content{
	#mainalbum img{
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-ms-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
	}
	#mainalbum img:hover{
		cursor: pointer;
		-webkit-transform: scale(2.0);
		-moz-transform: scale(2.0);
		-ms-transform: scale(2.0);
		-o-transform: scale(2.0);
		transform: scale(2.0);
	}
	#mainalbum span{
		display: block;
		margin-bottom: 10px;
		overflow: hidden;
	}
	
	#subalbum .thumb{		
		cursor: pointer;		
	}	
	
	.type-ttop-text{
		margin-top: 25px;
	}
	.type-dtitle-h32{
		margin: 25px 0;
		line-height: 50px;			
		position: relative;
		.type-h32-text{
			position: absolute;
			top: 0;			
			padding-left: 65px;
			color: $sub_color3;
			font:{
				size: 18px;
				weight: bold;
			}			
		}
	}
	
	.type-table-info{
		border: 2px solid #dbdbdb;		
		width : 100%;
		tr{
			td{
				line-height: 55px;
				border : 1px solid #dbdbdb;
				padding-left: 20px;				
			}
			td:first-child{
				border-right: none;				
				width: 22%;
				background-color: #f9f9f9;
				color: $sub_color3;			
				font:{
					size: 14px;
					weight: bold;
				}
			}
			td{
				border-left: none;
			}	
			.type-table-ltext{
				line-height: 1.5em;
				padding: 15px 20px;
			}
		}				
	}
}


/*================== kabekake page ====================*/
ul.kabekake-tabs{	
	margin: 15px 0;
	padding: 0;
	text-align: center;
	list-style: none;	
	li{
		display: inline-block;	
		text-align: center;	
		margin-left: 15px;
		position: relative;
		height: 72px;
		width: 174px;		
		cursor: pointer;
		color: $sub_color2;
		padding-top: 20px;
		font:{
			size: 15px;
			weight: bold;
		}
	}
	li:hover{color: #FFCA00;}
	li:nth-child(1){
		background : transparent url("../img/content/kabekake_list_img1.png") no-repeat 0 0 scroll;
		background-size: contain;
	}
	li:nth-child(2){
		background : transparent url("../img/content/kabekake_list_img2.png") no-repeat 0 0 scroll;
		background-size: contain;
	}
	li:nth-child(3){
		background : transparent url("../img/content/kabekake_list_img3.png") no-repeat 0 0 scroll;
		background-size: contain;
	}	
	li:first-child{
		margin-left: 0;
	}
}
	
ul.kabekake-tabs li.current{	
	color: #FFCA00;
}

.kabekake-tab-content{
	display: none;						
}
.kabekake-tab-content.current{
	display: inherit;
}

.kabekake-content{
	margin-bottom: 35px;
	.col-lg-6, .col-md-6, .col-sm-6{padding: 0 15px;}		
}
.kabekake-content:last-child{margin-bottom: 35px;}
.kabekake-info{
	border: 1px solid #e3e3e3;			
	padding: 3px; 
	.kabekake-info-img{
		text-align: center;
		img{width: auto; height: auto;}
	}  			
	.kabekake-info-title{
		padding-top: 6px; 
		text-align: center;		
		font:{
			size: 20px;
			weight: bold;
		}
		a{color: #ff6c00;}
		a:hover{color: $main_color;}
	}
	.kabekake-info-text1{
		text-align: center;
		padding-top: 6px;		
		font:{
			size: 14px;
			weight: bold;
		}
		a{color: $sub_color3;}
		a:hover{color: $main_color;}
	}
	.kabekake-info-text2{
		margin-top: 5px;
		background-color: #f5f5f5;				
		text-align: center;
		padding: 10px 0 12px 0;			
		.kabekake-info-size1{	
			padding-bottom: 9px;			
			color: $sub_color3;
			font:{
				size: 12px;
				weight: bold;
			}
			.kabekake-info-size{
				background-color: #ff6c00;
				text-transform: uppercase;
				color: $sub_color2;
				@include border_radius(10px);
				padding: 3px 14px;
				margin-right: 10px;
				font:{
					size: 12px;
					weight: bold;
				} 
			}
		}
		.kabekake-info-size2{										
			color: #ff6c00;					
			font:{
				size: 32px;
				weight: bold;
			}
			.kabekake-info-size{
				background-color: #ff6c00;
				text-transform: uppercase;
				color: $sub_color2;
				@include border_radius(10px);
				padding: 3px 14px;
				margin-right: 10px;
				font:{
					size: 12px;
					weight: bold;
				} 
			}
			.kabekake-info-symbol1{
				color: $sub_color3;
				font:{
					size: 16px;
					weight: bold;
				}
			}
			.kabekake-info-symbol2{
				font:{
					size: 24px;
					weight: bold;
				}
			}
		}
	}			
}


/*============ Detail kabekake page============*/
.kabekake-tabs-detail{	
	text-align: center;
	padding: 0;
	margin: 0px;			
	list-style: none;	
	li{
		display: inline-block;	
		text-align: center;	
		margin-left: 15px;		
		height: 72px;
		width: 174px;						
		a{		
			line-height: 55px;
			color: $sub_color2;
			padding-top: 20px;
			font:{
				size: 15px;
				weight: bold;
			}
			&:hover{color: #FFCA00;}
		}
		a.kabekakedlink-current{color: #FFCA00;}
	}	
	
	li:nth-child(1){
		background : transparent url("../img/content/kabekake_list_img1.jpg") no-repeat 0 0 scroll;
	}
	li:nth-child(2){
		background : transparent url("../img/content/kabekake_list_img2.jpg") no-repeat 0 0 scroll;
	}
	li:nth-child(3){
		background : transparent url("../img/content/kabekake_list_img3.jpg") no-repeat 0 0 scroll;
	}	
	li:nth-child(4){
		background : transparent url("../img/content/kabekake_list_img4.jpg") no-repeat 0 0 scroll;
	}
	li:first-child{
		margin-left: 0;
	}
}

.kabekake-dtitle-h31{
	margin: 25px 0 40px;
	line-height: 50px;			
	position: relative;
	.kabekake-h31-text{
		position: absolute;
		top: 0;			
		padding-left: 65px;
		font:{
			size: 18px;
			weight: bold;
		}
		a{color: $sub_color3;}			
		a:hover{color: $main_color;}
	}
}

.kabekake-dtitle-h4{
	margin-bottom: 20px;
	line-height: 40px;
	background : transparent url("../img/content/kabekake_dtitle_h4.jpg") no-repeat 0 0 scroll;
	padding-left: 60px;
	color: #e0332a;
	font:{
		size: 18px;
		weight: bold;
	}		
}

.kabekake-detail-content{	
	#mainalbum img{
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-ms-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
	}
	#mainalbum img:hover{
		cursor: pointer;
		-webkit-transform: scale(2.0);
		-moz-transform: scale(2.0);
		-ms-transform: scale(2.0);
		-o-transform: scale(2.0);
		transform: scale(2.0);
	}
	#mainalbum span{
		display: block;
		margin-bottom: 10px;
		overflow: hidden;
	}
	
	#subalbum .thumb{		
		cursor: pointer;		
	}	
	.kabekake-ttop-text{
		margin-top: 25px;
	}
	.kabekake-dtitle-h32{
		margin: 25px 0;
		line-height: 50px;			
		position: relative;
		.kabekake-h32-text{
			position: absolute;
			top: 0;			
			padding-left: 65px;
			color: $sub_color3;
			font:{
				size: 18px;
				weight: bold;
			}			
		}
	}
	
	.kabekake-table-info{
		border: 2px solid #dbdbdb;		
		width : 100%;
		tr{
			td{
				line-height: 55px;
				border : 1px solid #dbdbdb;
				padding-left: 20px;				
			}
			td:first-child{
				border-right: none;				
				width: 22%;
				background-color: #f9f9f9;
				color: $sub_color3;			
				font:{
					size: 14px;
					weight: bold;
				}
			}
			td{
				border-left: none;
			}	
			.kabekake-table-ltext{
				line-height: 1.6em;
				padding: 15px 20px;
			}
		}				
	}
}


/*/////////// flow-page ////////////*/
.flow_steps_bg{
	background : transparent url("../img/under/flow_steps_bg.jpg") no-repeat 0 0 scroll;
	height : 250px;	
	padding : 60px 20px 0px;
	p{
		margin-bottom: 15px;	
	}
	ul{
		list-style: none;
		float : right;
		li{			
			display: inline;
		}
	}
}


/*/////////// company-page ////////////*/
.company-text{
	text-align: justify;
}

.company-table-content{
	margin-bottom: 40px;	
	border-collapse : collapse;
	width : 100%;
	tr{	
		border : 1px solid #ddd;
		border-left: none;
		border-right: none;
		th,td{
			padding: 15px 0 15px 15px;			
			text-align: left;
		}
	}
	tr th{
		width: 20%;	
		background-color: #F9F9F9;
		font-weight: bold;		
	}
}


/* wpcf7 */
.wpcf7 {
	input, select, textarea{
		background-color: #f9f9f9;	
		border: 1px solid #ccc;
		padding: 5px 10px;
		margin: 5px 5px 5px 0;
		font-size: 15px;
		line-height: normal;
	}		
	.contact-btn{
		text-align: center;
		margin: 20px 0;
	}
	.wpcf7-confirm{		
		background : transparent url("../img/content/estimate_btn.jpg") no-repeat 0 0 scroll;		 
		text-indent: -9999px;
		height: auto;
		background-size: contain;
		cursor: pointer;
		color: #ffffff;
		font-size: 18px;
		border: none !important;
	}	
	.wpcf7-confirm:hover{opacity: 0.7;}
}


/*-----  page-estimate  ----*/
.estimation-table1{			
	width: 100%;		
	border-collapse: separate;
	border: 4px solid #E1342A;			
	tr{
		th{
			width: 30%;		
			border-bottom: 1px solid #E3E3E3;
			text-align: left;
			background: #F9F9F9;
			padding:10px 20px;
			vertical-align:middle;
			.estimate-ttitle{
				float: left;
				width: 67%;
				color: $sub_color3;
				font:{
					size: 15px;
					weight: bold;
				}
			}
			.require{float: right;}
		}
		td{
			border-bottom: 1px solid #E3E3E3;
			padding:10px 5px 10px 20px;		
			vertical-align:middle;
			.estimate-choose3{
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}
	}		
	tr:last-child th, tr:last-child td{border-bottom: none;}
}

.estimation-table2{		
	width: 100%;				
	border-collapse: separate;
	border: 4px solid #E3E3E3;				
	tr{
		th{
			width: 30%;				
			border-bottom: 1px solid #E3E3E3;
			text-align: left;
			background: #F9F9F9;
			padding:10px 20px;
			vertical-align:middle;
			.estimate-ttitle{
				float: left;
				width: 49%;
				color: $sub_color3;
				font:{
					size: 15px;
					weight: bold;
				}
			}
			.require{float: right;}							
		}
		td{
			padding: 10px 20px;
			border-bottom: 1px solid #E3E3E3;				
			vertical-align:middle;		
		}
	}	
	tr:last-child th, tr:last-child td{border-bottom: none;}
}
.estimate_ltitle{
	position: relative;
	margin-bottom: 10px;
	.estimate_lt-text{
		position: absolute;
		top: 35%;
		left: 30%;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;			
		}
	}
}
.estimate_rtitle{
	position: relative;	
	margin-bottom: 10px;
	.estimate_rt-text{
		position: absolute;
		top: 35%;
		left: 30%;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;			
		}
	}
}

span.wpcf7-list-item{ margin-left: 0 !important;}

.ttype1-cf7{width: 30% !important;}
.ttype2-cf7{width: 80% !important;}


/*-----  page-blog  ----*/
.sideBlog{
	margin-bottom: 20px;
	.sideBlog-title{
		color: $main_color;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
		li{
			a{color: $sub_color3;}
			a:hover{color: $main_color;}
		}
	}
}
.sideBlog:last-child{margin-bottom: 0;}
	
.post-row-content{	
	border: 1px solid #e3e3e3;
	padding: 20px;
	.blog-btnrm{			
		float: right;							
		a{
			padding: 5px 8px;
			@include border_radius(5px);
			background-color: $main_color;
			color: $bg_color;
		}
		a:hover{
			padding: 5px 8px;
			@include border_radius(5px);
			background-color: #fff;
			color: $main_color;
			border: 1px solid $main_color;
		}
	}		
	.post-row-meta{
		.fa{
			padding: 0 5px 0 20px;
		}
		.fa:first-child{
			padding-right: 5px;
			padding-left: 0;
			}
		.blog-category{
			a{color: $main_color;}
		}
	}
	.blog-content{
		margin-top: 15px;
	}
	.post-row-description{margin-top: 15px;}
}
.navigation{
	margin-top: 30px;
	a{color: $main_color;}
	a:hover{color: $link_color;}
}
.wp-pagenavi{	
	text-align: center;
	.pages{
		background-color: $main_color;
		color: #fff;		
	}
	.previouspostslink{
		@extend .pages;
	}
	.page{
		@extend .pages;
	}
	.nextpostslink{
		@extend .pages;
	}	
	span.current {
		border-color: $main_color !important;
	}
}	
	
/*====== about page ======*/
.about-content-top-sp{
	display: none;
	.about-consp-title{
		text-align: center;
		margin-bottom: 30px;
		color: $sub_color3;
		font:{
			size: 40px;
			weight: bold;
		}
	}
	.about-consp-ltitle{
		float: left;
		border-radius: 5px;
		background-color: #06beec;
		text-align: center;
		color: $sub_color2;
		width: 218px;
		line-height: 40px;
		margin-bottom: 15px;
		font:{
			size: 30px;
			weight: bold;
		}
	}
	.about-consp-rtitle{
		width: 62%;
		float: right;		
		border-radius: 5px;
		background-color: #fd8a37;
		text-align: center;
		color: $sub_color2;
		line-height: 40px;
		margin-bottom: 15px;
		font:{
			size: 30px;
			weight: bold;
		}
	}
	.about-consp-ltext{					
		float: left;
		padding: 0;
		margin: 0;		
		list-style: none;		
		margin-right: 9px;
		li{
			position: relative;
			margin-bottom: 12px;
			.about-consp-text{
				position: absolute;
				line-height: 1.2em;
				top: 30%;
				left: 8%;
				right: 10%;
				color: #06BEEB;								
				text-align: center;			
				font:{
					size: 22px;
					weight: bold;
				}
			}
		}		
	}
	.about-consp-rtext{		
		float: right;
		padding: 0;
		margin: 0;				
		list-style: none;
		width: 62%;
		li{
			border: 1px solid red;
			border-radius: 5px;
			background-color: #f9f9f9;
			padding: 14px 15px;
			font-size: 24px;
			color: $sub_color3;
			line-height: 1.2em;
			margin-bottom: 12px;
			.about-consp-clr{
				color: #f80000;
				font:{
					size: 24px;
					weight: bold;
				}
			}
		}
		li:first-child{			
			padding:8px 15px;
		}			
	}
}
.about-content-top{
	position: relative;
	.about-contop-title{
		position: absolute;
		top: 8%;
		left: 15%;
		right: 35%;
		color: $sub_color3;
		font:{
			size: 48px;
			weight: bold;
		}		
	}
	.about-contop-ltitle, .about-contop-rtitle{	
		color: $sub_color2;
		font:{
			size: 26px;
			weight: bold;
		}
	}
	.about-contop-ltitle{
		position: absolute;
		top: 33%;
		left: 15%;
	}
	.about-contop-rtitle{
		position: absolute;
		top: 33%;
		right: 27%;
	}
	.about-contop-ltext{
		position: absolute;
		top: 40%;
		left: 4%;
		right: 63%;
		padding: 0;
		margin: 0;		
		list-style: none;		
		li{
			color: #06BEEB;
			margin-bottom: 12px;
			width: 100%;
			text-align: center;			
			font:{
				size: 16px;
				weight: bold;
			}
		}
		li:nth-child(1){line-height: 65px;}
		li:nth-child(2){
			height: 107px;			
			padding: 30px;
		}
		li:nth-child(3), li:nth-child(4){line-height: 85px;}		
	}
	.about-contop-rtext{
		position: absolute;
		top: 40%;
		right: 4%;
		left: 38%;
		padding: 0;
		margin: 0;		
		list-style: none;	
		li{
			color: $sub_color3;			
			font-size: 13px;
			padding: 15px 20px;			
			margin-bottom: 10px;
			width: 100%;
			.about-rtext-clr{
				color: #F80000;
				font:{
					size: 15px;
					weight: bold;
				}
			}
		}
		li:nth-child(1){height: 65px;}
		li:nth-child(2){height: 107px;}
		li:nth-child(3), li:nth-child(4){height: 85px;}	
	}
}

/*======== price page=======*/
.price-title{
	margin-bottom: 25px;
    line-height: 50px;
    position: relative;
    .price-title-text{
    	position: absolute;
	    top: 0;
	    padding-left: 65px;
	    color: $sub_color3;
	    font-size: 18px;
	    font-weight: bold;
    }
}
.price-table1{	
    border-collapse: collapse;
    border: 2px solid #DCDCDC;
    width: 100%;
    tr th{
    	padding: 5px 20px;
    	border: 1px solid #DCDCDC;
    	background-color: #FFE6E1;
    	color: $sub_color3;
    	text-align: center;
    	font:{
    		size: 14px;
    		weight: bold;
    	}
    }
    tr th:first-child{text-align: left;}
    tr td:first-child{
    	padding: 5px 20px;
    	background-color:#FFF8F7;
    	text-align: left;
    	color: $sub_color3;
    	font:{
    		size: 14px;
    		weight: bold;
    	}
    }
    tr td{
    	padding: 5px 20px;
    	border: 1px solid #DCDCDC;
    	text-align: center;
    }
}
.price-table2{
	@extend .price-table1;
	tr th{background-color: #FFEFD0;}
	tr td:first-child{background-color: #FFFAF1;}
}


/*==========  draft page =======*/
.draft-content{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #E3E3E3;
	.fa-tags{
		float: left;
		color: #E1342A;
		font-size: 16px;		
	}
	.draft-info{
		float: left;
		margin-left: 10px;	
		width: 95%;
	}
}
.draft-content:first-child{padding-top: 0;}


/*==========  faq page =======*/
.faq-q{
	position: relative;	
	margin-bottom: 15px;
	.faq-q-text{		
		position: absolute;
		top: 20%;
		left: 35%;		
		font:{
			size: 18px;
			weight: bold;
		}
	}
	.faq-q-ltext{
		position: absolute;
		top: 20%;
		left: 20%;		
		font:{
			size: 18px;
			weight: bold;
		}
	}
	.faq-q-lltext{
		position: absolute;
		top: 20%;
		left: 8%;		
		font:{
			size: 18px;
			weight: bold;
		}
	}
}
.faq-a{
	.faq-a-img{
		float: left;		
	}
	.faq-a-text{
		float: left;
		margin-left: 10px;
		width: 90%;
	}
}

/*======= work page======*/
.work-title{
	margin-bottom: 20px;
	line-height: 40px;
	background : transparent url("../img/content/work_title.jpg") no-repeat 0 0 scroll;
	padding-left: 60px;
	color: #e0332a;
	font:{
		size: 18px;
		weight: bold;
	}		
}


/*======= factory page======*/
.factory-content{
	border: 1px solid #e3e3e3;
	padding: 10px 10px 25px 10px;
	.factory-cont-video{text-align: center;}
	.factory-cont-title{
		padding: 15px 0;
		text-align: center;
		color: $main_color;
		font:{
			size: 24px;
			weight: bold;
		}
	}
	.factory-cont-text{
		text-align: left;		
	}
}

@import '_responsive';